<div class="d-flex justify-content-between align-items-center">
  <h4>Planos</h4>
</div>

<div id="planos">
  <table class="table">
    <thead class="table-light">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Status</th>
        <th scope="col">Show</th>
      </tr>
    <tbody>
      <% @planos.each do |plano| %>
      <tr>
       <td><%= plano.id %></td>    
       <td><%= plano.name %></td>
       <td><%= plano.status %></td>
  <td><%=link_to "Show this plano", plano %></td>
  </tr>
  <% end %>
    </tbody>
  </table>
</div>
<%= link_to "New plano", new_plano_path %></br>
<%= link_to "Home", "/homea/index" %>

 <style>
   body { margin: 2%; }
</style>