<!-- bootstrap 4.3.1 -->
  <%= stylesheet_link_tag "https://hub.energyfuture.com.br/css/vendor/bootstrap.min.css" %>
  <!-- styles -->
  
<!-- app -->

<!-- XM_Plugins -->
<%= javascript_include_tag "https://hub.energyfuture.com.br/js/vendor/xm_plugins.min.js" %>

<!-- form.utils -->

<!-- landing.tabs -->

<!-- SVG icons -->
<%= javascript_include_tag "https://hub.energyfuture.com.br/js/utils/svg-loader_controller.js" %>
  <style>
    .landing {
      width: 100%;
      height: 100%;
      background-image: url('https://hub.energyfuture.com.br/img/Design_site_energyfuture_1.png');
      background-size: cover;
    }

    .icon-logo-vikinger {


    }

    .icon-logo-vikinger.small {

    }

    .secondary, .checkbox-wrap input[type=checkbox]:checked+.checkbox-box, .checkbox-wrap input[type=radio]:checked+.checkbox-box, .primary{ background-color: #804aff!important; }
    input[type=password]:focus, input[type=text]:focus, select:focus, textarea:focus {
      border-color: #804aff!important;
    }

  </style>

<!-- LANDING -->
  <div class="landing">
    <!-- LANDING DECORATION -->
    <div class="landing-decoration"></div>
    <!-- /LANDING DECORATION -->

    <!-- LANDING INFO -->
    <div class="landing-info">
      <!-- LOGO -->
      <div class="logo">
        <!-- ICON LOGO VIKINGER -->
        <%= image_tag('https://hub.energyfuture.com.br/img/Design_site_energyfuture_1.svg', alt: "Energy Future Logo") %>
        <!-- /ICON LOGO VIKINGER -->
      </div>
      <!-- /LOGO -->

      <!-- LANDING INFO PRETITLE -->
      <h2 class="landing-info-pretitle">Seja Bem-vindo(a)!</h2>
      <!-- /LANDING INFO PRETITLE -->

      <!-- LANDING INFO TEXT -->
      <p class="landing-info-text">Como membro, você faz parte de uma comunidade de profissionais engajados em promover o desenvolvimento sustentável do setor de energia.  <br /> <br />Aproveite eventos, webinars e ferramentas para conectar-se com outros membros e expandir sua rede de contatos profissionais. <br /> <br />Junte-se a nós agora e contribua para o desenvolvimento do setor energético!</p>
      <!-- /LANDING INFO TEXT -->

      <!-- TAB SWITCH -->
      <div class="tab-switch">
        <!-- TAB SWITCH BUTTON -->
        <p class="tab-switch-button login-register-form-trigger">Entrar</p>
        <!-- /TAB SWITCH BUTTON -->

        <!-- TAB SWITCH BUTTON -->
        <p class="tab-switch-button login-register-form-trigger">Cadastre-se</p>
        <!-- /TAB SWITCH BUTTON -->
      </div>
      <!-- /TAB SWITCH -->
    </div>
    <!-- /LANDING INFO -->

    <!-- LANDING FORM -->
    <div class="landing-form">
      <!-- FORM BOX -->
      <%= render "shared/usersessions"%> 
    </div>
      <!-- /FORM BOX -->
<%= render "shared/userregistrations"%> 
</div>

 

 







