<%= form_with(model: icp) do |form| %>
  <% if icp.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(icp.errors.count, "error") %> prohibited this icp from being saved:</h2>

      <ul>
        <% icp.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.select(:status, Icp.statuses.keys.map {|status| [status.titleize,status]}, :class => 'form-control' )%>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
 <style>
   body { margin: 2%; }
</style>