<p style="color: green"><%= notice %></p>

<h1>Perfis</h1>

<div id="icps">
  <% @icps.each do |icp| %>
    <%= render icp %>
    <p>
      <%= link_to "Show this icp", icp %>
    </p>
  <% end %>
</div>

<%= link_to "New icp", new_icp_path %>
<%= link_to "Home", "homea/index" %>
