<p style="color: green"><%= notice %></p>

<%= render @icp %>

<div>
  <%= link_to "Edit this perfil", edit_icp_path(@icp) %> |
  <%= link_to "Back to perfils", icps_path %>

  <%= button_to "Destroy this perfil", @icp, method: :delete %>
</div>
