 <!-- GRID -->
    <div class="grid grid-3-9 medium-space">
      <!-- GRID COLUMN -->
      <div class="account-hub-sidebar">
        <!-- SIDEBAR BOX -->
        <div class="sidebar-box no-padding">
          <!-- SIDEBAR MENU -->
          <div class="sidebar-menu">
            <!-- SIDEBAR MENU ITEM -->
              <!-- SIDEBAR MENU BODY -->
              <div class="sidebar-menu-body accordion-content-linked">
                <!-- SIDEBAR MENU LINK -->
                <a class="sidebar-menu-link" href="/users/<%=current_user.id%>">Informações do Meu Perfil</a>
                <!-- /SIDEBAR MENU LINK -->

                <!-- SIDEBAR MENU LINK -->
                <a class="sidebar-menu-link active" href="/users/hubaccountpassword">Alterar Senha</a>
                <!-- /SIDEBAR MENU LINK -->
              </div>
              <!-- /SIDEBAR MENU BODY -->
            </div>
            <!-- /SIDEBAR MENU ITEM -->

          </div>
          <!-- /SIDEBAR MENU -->
        </div>
        <!-- /SIDEBAR BOX -->
      </div>
      <!-- /GRID COLUMN -->
      </br>
      <!-- GRID COLUMN -->
      <div class="account-hub-content">
        <!-- SECTION HEADER -->
        <div class="section-header">
          <!-- SECTION HEADER INFO -->
          <div class="section-header-info">
            <!-- SECTION PRETITLE -->
            <p class="section-pretitle">Meu Perfil</p>
            <!-- /SECTION PRETITLE -->

            <!-- SECTION TITLE -->
            <h2 class="section-title">Editar Perfil</h2>
            <!-- /SECTION TITLE -->
          </div>
          <!-- /SECTION HEADER INFO -->
        </div>
         <!-- WIDGET BOX -->
          <div class="widget-box">
            <!-- WIDGET BOX TITLE -->
            <p class="widget-box-title">Sobre Seu Perfil</p>
            <!-- /WIDGET BOX TITLE -->
        
            <!-- WIDGET BOX CONTENT -->
            <div class="widget-box-content">
              <!-- FORM -->
              <%= form_with(model: user, html: { data: { controller: "masks" } }) do |form| %>
                <!-- FORM ROW -->
                <div class="form-row split">
                  <!-- FORM ITEM -->
                  <div class="form-item">
                    <!-- FORM INPUT -->
                    <div class="form-input small active">
                      <label for="profile-email">Email do Perfil</label>
                      <%= form.text_field :email, class: "form-control", id:"profile-email" %>
                    </div>
                    <!-- /FORM INPUT -->
                  </div>
                  <!-- /FORM ITEM -->

                  <!-- FORM ITEM -->
                  <div class="form-item">
                    <!-- FORM INPUT -->
                    <div class="form-input small active">
                      <label for="profile-name">Nome do Perfil</label>
                      <%= form.text_field :name, class: "form-control", id:"profile-name" %>
                    </div>
                    <!-- /FORM INPUT -->
                  </div>
                  <!-- /FORM ITEM -->
                </div>
                <!-- /FORM ROW -->

                <!-- FORM ROW -->
                <div class="form-row split">
                  <!-- FORM ITEM -->
                  <div class="form-item">
                    <!-- FORM INPUT DECORATED -->
                    <div class="form-input-decorated">
                      <!-- FORM INPUT -->
                      <div class="form-input small active">
                        <label for="profile-phone">Telefone</label>
                        <%= form.text_field :phone, class: "form-control", id:"profile-phone" , data: { masks_target: 'phone' } %>
                      </div>
                      <!-- /FORM INPUT -->
                    </div>
                    <!-- /FORM INPUT DECORATED -->
                  </div>
                  <!-- /FORM ITEM -->
              <!-- /FORM -->
            </div>
            </br>
    
      </br>          
          <!-- SIDEBAR BOX FOOTER -->
          <div class="sidebar-box-footer">
            <!-- BUTTON -->
            <%= form.submit 'Salve as Mudanças!', class: "button primary" %>
            <!-- /BUTTON -->
            <!-- BUTTON -->
            <p class="button white small-space">Descartar Tudo</p>
            <!-- /BUTTON -->
          </div>
            <!-- WIDGET BOX CONTENT -->
          </div>
          <!-- /WIDGET BOX -->
        </div>
      </div>

     <% end %>
 




    <!-- /GRID -->

