<style>
    .landing {
        width: 100%;
        height: 100%;
        background-size: cover;
    }

    .logo img, .page-loader-decoration img  {
        width: 48px;
        height: 48px;
    }

    input[type=password]:focus, input[type=text]:focus, select:focus, textarea:focus {
        border-color: #804aff!important;
    }

    .menu .menu-item.active .menu-item-link, .menu .menu-item.active .menu-item-link:hover,
    .header {
        background-color: #804aff!important;
    }

    .sidebar.navigation-widget.closed {
        padding-top: 0px!important;
    }


</style>

<!-- app -->
<%= javascript_include_tag "#{Rails.application.credentials.dig(:var, :var_url_remoto)}/js/utils/app.js" %>
<!-- page loader -->
<%= javascript_include_tag "#{Rails.application.credentials.dig(:var, :var_url_remoto)}/js/utils/page-loader.js" %>
<!-- simplebar -->
<%= javascript_include_tag "#{Rails.application.credentials.dig(:var, :var_url_remoto)}/js/vendor/simplebar.min.js" %>
<!-- liquidify -->
<%= javascript_include_tag "#{Rails.application.credentials.dig(:var, :var_url_remoto)}/js/utils/liquidify.js" %>
<!-- XM_Plugins -->
<%= javascript_include_tag "#{Rails.application.credentials.dig(:var, :var_url_remoto)}/js/vendor/xm_plugins.min.js" %>
<!-- tiny-slider -->
<%= javascript_include_tag "#{Rails.application.credentials.dig(:var, :var_url_remoto)}/js/vendor/tiny-slider.min.js"%>
<!-- chartJS -->
<%= javascript_include_tag "#{Rails.application.credentials.dig(:var, :var_url_remoto)}/js/vendor/Chart.bundle.min.js" %>
<!-- global.hexagons -->
<%= javascript_include_tag "#{Rails.application.credentials.dig(:var, :var_url_remoto)}/js/global/global.hexagons.js" %>
<!-- global.tooltips -->
<%= javascript_include_tag "#{Rails.application.credentials.dig(:var, :var_url_remoto)}/js/global/global.tooltips.js" %>
<!-- global.popups -->
<%= javascript_include_tag "#{Rails.application.credentials.dig(:var, :var_url_remoto)}/js/global/global.popups.js" %>
<!-- global.charts -->
<%= javascript_include_tag "#{Rails.application.credentials.dig(:var, :var_url_remoto)}/js/global/global.charts.js" %>
<!-- header -->
<%= javascript_include_tag "#{Rails.application.credentials.dig(:var, :var_url_remoto)}/js/header/header.js" %>
<!-- sidebar -->
<%= javascript_include_tag "#{Rails.application.credentials.dig(:var, :var_url_remoto)}/js/sidebar/sidebar.js" %>
<!-- content -->
<%= javascript_include_tag "#{Rails.application.credentials.dig(:var, :var_url_remoto)}/js/content/content.js" %>
<!-- form.utils -->
<%= javascript_include_tag "#{Rails.application.credentials.dig(:var, :var_url_remoto)}/js/form/form.utils.js" %>
<!-- SVG icons -->
<%= javascript_include_tag "#{Rails.application.credentials.dig(:var, :var_url_remoto)}/js/utils/svg-loader.js" %>
</body>
</html>


