

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="#{Rails.application.credentials.dig(:var, :var_url_remoto)}/img/favicon.ico">
  <title>Energy Future | {$title}</title>
  <%= stylesheet_link_tag "#{Rails.application.credentials.dig(:var, :var_url_remoto)}/css/vendor/bootstrap.min.css" %>
  <%= stylesheet_link_tag "#{Rails.application.credentials.dig(:var, :var_url_remoto)}/css/styles.min.css" %>
  <%= stylesheet_link_tag "#{Rails.application.credentials.dig(:var, :var_url_remoto)}/css/vendor/simplebar.css" %>
  <%= stylesheet_link_tag "#{Rails.application.credentials.dig(:var, :var_url_remoto)}/css/vendor/tiny-slider.css" %>
<body>

  <div class="page-loader">
    <div class="page-loader-decoration">
       <%= image_tag("#{Rails.application.credentials.dig(:var, :var_url_remoto)}/img/Logo-EF-Hub.png") %>
    </div>

    <div class="page-loader-info">
      <p class="page-loader-info-title">Energy Future</p>

      <p class="page-loader-info-text">Carregando...</p>
    </div>
    
    <div class="page-loader-indicator loader-bars">
      <div class="loader-bar"></div>
      <div class="loader-bar"></div>
      <div class="loader-bar"></div>
      <div class="loader-bar"></div>
      <div class="loader-bar"></div>
      <div class="loader-bar"></div>
      <div class="loader-bar"></div>
      <div class="loader-bar"></div>
    </div>
  </div>

  <nav id="navigation-widget-small" class="navigation-widget navigation-widget-desktop closed sidebar left hidden" data-simplebar>
    <ul class="menu small">
      <li class="menu-item <%= 'active' if url_for(only_path: true).include? '/home/agenda' %>">
        <a class="menu-item-link text-tooltip-tfr" href="/home/agenda" data-title="Agenda do Hub" style="position: relative;">
          <svg class="menu-item-link-icon icon-events-monthly">
            <use xlink:href="#svg-events-monthly"></use>
          </svg>          
        </a>
      </li>
      <li class="menu-item <%= 'active' if url_for(only_path: true).include? '/home/programasetorials' %> <%= 'active' if url_for(only_path: true).include? '/home/programatimeline' %> <%= 'active' if url_for(only_path: true).include? '/home/programainfo' %> <%= 'active' if url_for(only_path: true).include? '/home/programaparticipantes' %> <%= 'active' if url_for(only_path: true).include? '/home/programaeventos' %> <%= 'active' if url_for(only_path: true).include? '/home/programaarquivos' %>">
        <a class="menu-item-link text-tooltip-tfr" href="/home/programasetorials" data-title="Programas Setoriais" style="position: relative;">
          <svg class="menu-item-link-icon icon-trophy">
            <use xlink:href="#svg-trophy"></use>
          </svg>
        </a>
      </li>
      <li class="menu-item <%= 'active' if url_for(only_path: true).include? '/home/academy' %>">
        <a class="menu-item-link text-tooltip-tfr" href="/home/academy" data-title="Academy" style="position: relative;">
          <svg class="menu-item-link-icon icon-store">
            <use xlink:href="#svg-store"></use>
          </svg>
        </a>
      </li>      
      <li class="menu-item <%= 'active' if url_for(only_path: true).include? '/home/propdi' %>">
        <a class="menu-item-link text-tooltip-tfr" href="/home/propdi" data-title="ProPDI" style="position: relative;">
          <svg class="menu-item-link-icon icon-events-weekly">
            <use xlink:href="#svg-events-weekly"></use>
          </svg>
        </a>
      </li>        
      <li class="menu-item <%= 'active' if url_for(only_path: true).include? '/home/feedinovacao' %>">
        <a class="menu-item-link text-tooltip-tfr" href="/home/feedinovacao" data-title="Feed de Inovação" style="position: relative;">
          <svg class="menu-item-link-icon icon-badges">
            <use xlink:href="#svg-badges"></use>
          </svg>
        </a>
      </li>
      <li class="menu-item <%= 'active' if url_for(only_path: true).include? '/home/radardesafios' %>">
        <a class="menu-item-link text-tooltip-tfr" href="/home/radardesafios" data-title="Radar de Desafios" style="position: relative;">
          <svg class="menu-item-link-icon icon-events-weekly">
            <use xlink:href="#svg-events-weekly"></use>
          </svg>
          <div class="xm-tooltip" style="white-space: nowrap; position: absolute; z-index: 99999; right: -77px; top: 50%; margin-top: -12px; opacity: 0; visibility: hidden; transform: translate(10px, 0px); transition: all 0.3s ease-in-out 0s;"><p class="xm-tooltip-text">Radar de Desafios</p></div></a>
        </a>
      </li>

    </ul>
  </nav>

  <nav id="navigation-widget" class="navigation-widget navigation-widget-desktop sidebar left" data-simplebar>

    <ul class="menu">
      <li class="menu-item <%= 'active' if url_for(only_path: true).include? '/home/agenda' %>">
        <a class="menu-item-link text-tooltip-tfr" href="/home/agenda">
          <svg class="menu-item-link-icon icon-events-monthly">
            <use xlink:href="#svg-events-monthly"></use>
          </svg>
          Agenda do Hub
        </a>
      </li>
      <li class="menu-item <%= 'active' if url_for(only_path: true).include? '/home/programasetorials' %> 
        <%= 'active' if url_for(only_path: true).include? '/home/programatimeline' %> 
        <%= 'active' if url_for(only_path: true).include? '/home/programainfo' %> 
        <%= 'active' if url_for(only_path: true).include? '/home/programaparticipantes' %> 
        <%= 'active' if url_for(only_path: true).include? '/home/programaeventos' %>
        <%= 'active' if url_for(only_path: true).include? '/home/programaarquivos' %>">
        <a class="menu-item-link text-tooltip-tfr" href="/home/programasetorials">
          <svg class="menu-item-link-icon icon-trophy">
            <use xlink:href="#svg-trophy"></use>
          </svg>
          Programas Setoriais
        </a>
      </li>
      <li class="menu-item <%= 'active' if url_for(only_path: true).include? '/home/academy' %>">
        <a class="menu-item-link text-tooltip-tfr" href="/home/academy">
          <svg class="menu-item-link-icon icon-store">
            <use xlink:href="#svg-store"></use>
          </svg>
          Academy
        </a>
      </li>      
      <li class="menu-item <%= 'active' if url_for(only_path: true).include? '/home/propdi' %>">
        <a class="menu-item-link text-tooltip-tfr" href="/home/propdi">
          <svg class="menu-item-link-icon icon-events-weekly">
            <use xlink:href="#svg-events-weekly"></use>
          </svg>
          ProPDI
        </a>
      </li>        
      <li class="menu-item <%= 'active' if url_for(only_path: true).include? '/home/feedinovacao' %>">
        <a class="menu-item-link text-tooltip-tfr" href="/home/feedinovacao">
          <svg class="menu-item-link-icon icon-badges">
            <use xlink:href="#svg-badges"></use>
          </svg>
          Feed de Inovação
        </a>
      </li>
      <li class="menu-item <%= 'active' if url_for(only_path: true).include? '/home/radardesafios' %>">
        <a class="menu-item-link text-tooltip-tfr" href="/home/radardesafios">
          <svg class="menu-item-link-icon icon-events-weekly">
            <use xlink:href="#svg-events-weekly"></use>
          </svg>
          Radar de Desafios
        </a>
      </li>

    </ul>
  </nav>

  <nav id="navigation-widget-mobile" class="navigation-widget navigation-widget-mobile sidebar left hidden" data-simplebar>
    <div class="navigation-widget-close-button">
      <svg class="navigation-widget-close-button-icon icon-back-arrow">
        <use xlink:href="#svg-back-arrow"></use>
      </svg>
    </div>

    <ul class="menu">
      <li class="menu-item <%= 'active' if url_for(only_path: true).include? '/home/agenda' %>">
        <a class="menu-item-link text-tooltip-tfr" href="/home/agenda">
          <svg class="menu-item-link-icon icon-events-monthly">
            <use xlink:href="#svg-events-monthly"></use>
          </svg>
          Agenda do Hub
        </a>
      </li>
      <li class="menu-item <%= 'active' if url_for(only_path: true).include? '/home/programasetorials' %> 
        <%= 'active' if url_for(only_path: true).include? '/home/programatimeline' %> 
        <%= 'active' if url_for(only_path: true).include? '/home/programainfo' %> 
        <%= 'active' if url_for(only_path: true).include? '/home/programaparticipantes' %> 
        <%= 'active' if url_for(only_path: true).include? '/home/programaeventos' %>
        <%= 'active' if url_for(only_path: true).include? '/home/programaarquivos' %>">
        <a class="menu-item-link text-tooltip-tfr" href="/home/programasetorials">
          <svg class="menu-item-link-icon icon-trophy">
            <use xlink:href="#svg-trophy"></use>
          </svg>
          Programas Setoriais
        </a>
      </li>
      <li class="menu-item <%= 'active' if url_for(only_path: true).include? '/home/academy' %>">
        <a class="menu-item-link text-tooltip-tfr" href="/home/academy">
          <svg class="menu-item-link-icon icon-store">
            <use xlink:href="#svg-store"></use>
          </svg>
          Academy
        </a>
      </li>      
      <li class="menu-item <%= 'active' if url_for(only_path: true).include? '/home/propdi' %>">
        <a class="menu-item-link text-tooltip-tfr" href="/home/propdi">
          <svg class="menu-item-link-icon icon-events-weekly">
            <use xlink:href="#svg-events-weekly"></use>
          </svg>
          ProPDI
        </a>
      </li>        
      <li class="menu-item <%= 'active' if url_for(only_path: true).include? '/home/feedinovacao' %>">
        <a class="menu-item-link text-tooltip-tfr" href="/home/feedinovacao">
          <svg class="menu-item-link-icon icon-badges">
            <use xlink:href="#svg-badges"></use>
          </svg>
          Feed de Inovação
        </a>
      </li>
      <li class="menu-item <%= 'active' if url_for(only_path: true).include? '/home/radardesafios' %>">
        <a class="menu-item-link text-tooltip-tfr" href="/home/radardesafios">
          <svg class="menu-item-link-icon icon-events-weekly">
            <use xlink:href="#svg-events-weekly"></use>
          </svg>
          Radar de Desafios
        </a>
      </li>
    </ul>
  </nav>


  <header class="header">
    <div class="header-actions">
      <div class="header-brand">
        <div class="logo">
          <a href="/home/agenda"><%= image_tag("#{Rails.application.credentials.dig(:var, :var_url_remoto)}/img/Logo-EF-Hub.png") %></a>
        </div>
        <%
=begin%>
 <h1 class="header-brand-text">Energy Future</h1> 
<%
=end%>
      </div>
      <div class="sidemenu-trigger navigation-widget-trigger active">
        <svg class="icon-grid">
          <use xlink:href="#svg-grid"></use>
        </svg>
      </div>
    </div>

    <div class="header-actions">
      <div class="mobilemenu-trigger navigation-widget-mobile-trigger">
        <div class="burger-icon inverted">
          <div class="burger-icon-bar"></div>

          <div class="burger-icon-bar"></div>

          <div class="burger-icon-bar"></div>
        </div>
      </div>


    </div>
    
    <%
=begin%>
 <div class="header-actions search-bar"></div> 
<%
=end%>
    <div class="header-actions"></div>
    <div class="header-actions">

      <div class="action-item-wrap">
        <% if user_signed_in? %>
        <p style="color:#ffffff"><%=current_user.email%></p>
       <%end%> 
      </div>
      <div class="action-item-wrap">
        <div class="action-item dark header-settings-dropdown-trigger">
          <svg class="action-item-icon icon-profile">
            <use xlink:href="#svg-profile"></use>
          </svg>
        </div>

        <div class="dropdown-navigation header-settings-dropdown">
          <div class="dropdown-navigation-header">

          <p class="dropdown-navigation-category">Meu perfil</p>
      
          <a class="dropdown-navigation-link" href= "/users/<%=current_user.id%>/edit">Editar Perfil</a>
      
          <a class="dropdown-navigation-link" href="/users/editp/?id=<%=current_user.id%>">Alterar Senha</a>

          <%= link_to('Sair',  destroy_user_session_path, :class => "button small secondary full mt-3")%>
        </div>
      </div>
    </div>
  </header>
