<div class="form-box login-register-form-element" style="padding-bottom: 36px;">
	<%= image_tag("#{Rails.application.credentials.dig(:var, :var_url_remoto)}/img/landing/rocket.png", alt: "rocket", class:"form-box-decoration") %>
	
	<h2 class="form-box-title">Criar minha conta</h2>

	<%= form_for(:user, :url => registration_path(:user), html: { data: { controller: "masks" }, class: "form", style: "margin-top: 38px;"}) do |f| %>
		<div class="form-row">
			<div class="form-item">
				<div class="form-input">
					<label for="register-username">Seu e-mail</label>
					<%= f.text_field :email, autofocus: true, autocomplete: "email", id:"register-username"  %>
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="form-item">
				<div class="form-input">
					<label for="register-name">Nome completo</label>
					<%= f.text_field :name, autofocus: true, autocomplete: "name", id:"register-name"   %>
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="form-item">
				<div class="form-input">
					<label for="register-phone">Telefone</label>
					<%= f.text_field :'phone', data: { masks_target: 'phone' }, id: 'register-phone' %>
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="form-item">
				<div class="form-input">
					<label for="register-password">Senha</label>
					<%= f.password_field :password, autocomplete: "register-password", id:"register-password"%>
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="form-item">
				<div class="form-select">
					<label for="icp_id">Perfil</label>
					<%= select("user", "icp_id", Icp.all.collect {|p| [ p.name, p.id ] })%>
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="form-item">
				<div class="checkbox-wrap">
					<input type="checkbox" id="newsletter" name="newsletter" checked>
					<div class="checkbox-box">
						<svg class="icon-cross">
							<use xlink:href="#svg-cross"></use>
						</svg>
					</div>
					<label for="newsletter">Concordo com os termos de uso e política de privacidade.</label>
				</div>
			</div>
		</div>
		<%= f.submit 'Cadastrar!', name:"register",class:"button full secondary"%>
	<%end%>

	<p class="form-text">Você receberá um e-mail para confirmar o seu cadastro e
		ativar sua conta. Caso tenha problemas, entre em <a href="/contato">contato conosco</a>! </p>
</div>