
<div class="set-center flex-column form h-auto mt-3">
  <div class="card shadow" style="width: 36rem;">
    <div class="card-header">
      <h3 class="text-center mt-2">Cadastro Texto</h3>
    </div>
    <div class="card-body">
      <!-- Form Started Here -->
      <%= form_with model: @texto do |f| %>
        <br>
        <span> Título :</span> 
        <%= f.text_field :title, placeholder: "Título", class:"mb-2 form-control" %>
        <br> 
        <span> Conteúdo :</span> 
        <%= f.text_area :conteudo, placeholder: "Conteúdo", class:"mb-2 form-control" %>
        <br>         
        <span> Status :</span> 
        <%= f.select(:status, Texto.statuses.keys.map {|status| [status.titleize,status]}, :class => 'form-control' )%>
        <br>
        <br> 
        <%= f.hidden_field :idobjeto, class:"mb-2 form-control" %>      
        <%= f.hidden_field :tipoobjeto, class:"mb-2 form-control" %>
        <br>      
        <div class="d-flex justify-content-center">
          <%= f.submit "Salvar Texto", class:"btn-secondary border-0 shadow py-2 px-5" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
