<%= render "shared/header-new"%>

<!-- CONTENT GRID -->
<div class="content-grid">
    <!-- SECTION BANNER -->
    <div class="section-banner">
        <%= image_tag("#{Rails.application.credentials.dig(:var, :var_url_remoto)}/img/banner/overview-icon.png", alt: "overview-icon",class:"section-banner-icon") %>

        <!-- SECTION BANNER TITLE -->
        <p class="section-banner-title">Agenda do Hub</p>
        <!-- /SECTION BANNER TITLE -->

        <!-- SECTION BANNER TEXT -->
        <p class="section-banner-text">Confira os eventos que movimentam o setor </p>
        <!-- /SECTION BANNER TEXT -->
    </div>
    <!-- /SECTION BANNER -->

            <div class="section-header">
                <!-- SECTION HEADER INFO -->
                <div class="section-header-info">
                    <!-- SECTION PRETITLE -->
                    <p class="section-pretitle">Veja o que vem a seguir!</p>
                    <!-- /SECTION PRETITLE -->

                    <!-- SECTION TITLE -->
                    <h2 class="section-title">Próximos Eventos</h2>
                    <!-- /SECTION TITLE -->
                </div>
                <!-- /SECTION HEADER INFO -->
            </div>
            
            <div class="grid grid-3-3-3-3 centered">
              <% @eventos.each do |evento| %>
                <%agenda=Agenda.where(id:evento.idobjeto)%>
                <%if agenda[0].present?%>
                 <%@agenda=Agenda.find(agenda[0].id)%>
                <%end%> 
                <%timeline=Timeline.where(idobjeto:evento.id,tipoobjeto:"Eventos Agenda")%>
                <%if timeline[0].present?%>
                 <%@timeline=Timeline.find(timeline[0].id)%> 
                <%end%> 
                <!-- EVENT PREVIEW -->
                <div class="event-preview">
                    <div class="event-preview-info">
                        <div class="event-preview-info-top">
                            <div class="date-sticker">
                            <%td = evento.datainicio %>
                            <p class="date-sticker-day"><%=td.strftime('%d')%></p>
                            <p class="date-sticker-month"><%=td.strftime('%m')%></p>
                            </div>
                          <% if  @agenda.main_image.attached? %>
                            <figure class="event-preview-cover liquid">
                             <%= image_tag(@agenda.main_image) %>
                            </figure>
                         <% end %>      
                          <%th = evento.horainicio %>
                          </br>
                          <p class="event-preview-title popup-event-information-trigger"><%= evento.name %></p>
                          <p class="event-preview-timestamp"><span class="bold"><%=th.strftime('%H:%M')%></span></p>
                          <%if agenda[0].present?%>
                           <p class="event-preview-text"><%= @agenda.tipoevento%></p>
                          <%end%> 
                          <div class="chat-widget-speaker right">
                           <!-- CHAT WIDGET SPEAKER MESSAGE -->
                           <% if evento.descricaocurta.present?%>
                           <p class="chat-widget-speaker-message"><%= evento.descricaocurta.slice! 0, 80  %></p>
                           <%end%>
                           <!-- /CHAT WIDGET SPEAKER MESSAGE -->
                          </div>                           
                        </div>
                        <div class="event-preview-info-bottom">
                            <!-- /DECORATED TEXT -->  
                           <%if @agenda.tipoevento.eql?"On Line"%>
                              <%if @timeline.present?%>
                               <p class="button white white-tertiary"><%= link_to "Fale Conosco", "//www.energyfuture.com.br/contato"%></p>
                              <%else%>
                               <p class="button white white-tertiary"><%= link_to "Participar Evento", "/home/participarevento?id=#{evento.id}&idobjeto=#{evento.idobjeto}&tipoobjeto=#{evento.tipoobjeto}"%></p>
                              <%end%> 
                           <%else%>
                               <p class="button white white-tertiary"><%= link_to "Link", "//#{evento.linkevento}"%></p>
                           <%end%>   
                        </div>
                    </div>
                </div>
                <% end %>
                <!-- /EVENT PREVIEW -->

            </div>
 </div>
<%= render "shared/footer-new"%>
