<!-- bootstrap 4.3.1 -->
  <link rel="stylesheet" href="/assets/vendor/bootstrap.min.css">
  <!-- styles -->
  <link rel="stylesheet" href="/assets/styles.min.css">
<!-- app -->

<!-- XM_Plugins -->
<script src="/assets/controllers/vendor/xm_plugins.min_controller.js"></script>
<!-- form.utils -->

<!-- landing.tabs -->
<script src="/assets/controllers/landing/landing.tabs_controller.js"></script>
<!-- SVG icons -->
<script src="/assets/controllers/utils/svg-loader_controller.js"></script>
<style>
.landing {
  width: 100%;
  height: 100%;
  background-image: url('https://hub.energyfuture.com.br/img/Design_site_energyfuture_1.png');
  background-size: cover;
}

.icon-logo-vikinger {


}

.icon-logo-vikinger.small {

}

.secondary, .checkbox-wrap input[type=checkbox]:checked+.checkbox-box, .checkbox-wrap input[type=radio]:checked+.checkbox-box, .primary{ background-color: #804aff!important; }
input[type=password]:focus, input[type=text]:focus, select:focus, textarea:focus {
  border-color: #804aff!important;
}

</style>

<!-- LANDING -->
<div class="landing">
<!-- LANDING DECORATION -->
<div class="landing-decoration"></div>
<!-- /LANDING DECORATION -->

<!-- LANDING INFO -->
<div class="landing-info">
  <!-- LOGO -->
  <div class="logo">
    <!-- ICON LOGO VIKINGER -->
    <%= image_tag('/assets/Design_site_energyfuture_1.svg', alt: "Energy Future Logo") %>
    <!-- /ICON LOGO VIKINGER -->
  </div>
  <!-- /LOGO -->

  <!-- LANDING INFO PRETITLE -->
  <h2 class="landing-info-pretitle">Seja Bem-vindo(a)!</h2>
  <!-- /LANDING INFO PRETITLE -->

  <!-- LANDING INFO TEXT -->
  <p class="landing-info-text">Como membro, você faz parte de uma comunidade de profissionais engajados em promover o desenvolvimento sustentável do setor de energia.  <br /> <br />Aproveite eventos, webinars e ferramentas para conectar-se com outros membros e expandir sua rede de contatos profissionais. <br /> <br />Junte-se a nós agora e contribua para o desenvolvimento do setor energético!</p>
  <!-- /LANDING INFO TEXT -->

  <!-- TAB SWITCH -->
  <div class="tab-switch">
    <!-- TAB SWITCH BUTTON -->
    <p class="tab-switch-button login-register-form-trigger">Entrar</p>
    <!-- /TAB SWITCH BUTTON -->

    <!-- TAB SWITCH BUTTON -->
    <p class="tab-switch-button login-register-form-trigger">Cadastre-se</p>
    <!-- /TAB SWITCH BUTTON -->
  </div>
  <!-- /TAB SWITCH -->
</div>
<!-- /LANDING INFO -->

<!-- LANDING FORM -->
<div class="landing-form">
  <!-- FORM BOX -->
  <div class="form-box login-register-form-element">
    <!-- FORM BOX DECORATION -->
    <%= image_tag('/assets/landing/rocket.png', alt: "rocket", class:"form-box-decoration overflowing") %>
    <!-- /FORM BOX DECORATION -->

    <!-- FORM BOX TITLE -->
    <h2 class="form-box-title">Sua conta no Energy Future</h2>
    <!-- /FORM BOX TITLE -->

    <!-- FORM -->
    <%= form_for(:user, :url => session_path(:user), html: { class: "form" }) do |f| %>
      <!-- FORM ROW -->
      <div class="form-row">
        <!-- FORM ITEM -->
        <div class="form-item">
          <!-- FORM INPUT -->
          <div class="form-input">
            <label for="email">E-mail</label>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control",id:"login-email"  %>
          </div>
          <!-- /FORM INPUT -->
        </div>
        <!-- /FORM ITEM -->
      </div>
      <!-- /FORM ROW -->

      <!-- FORM ROW -->
      <div class="form-row">
        <!-- FORM ITEM -->
        <div class="form-item">
          <!-- FORM INPUT -->
          <div class="form-input">
            <label for="login-password">Senha</label>
            <%= f.password_field :password, autocomplete: "current-password", class:"form-control",id:"login-password" %>
          </div>
          <!-- /FORM INPUT -->
        </div>
        <!-- /FORM ITEM -->
      </div>
      <!-- /FORM ROW -->

      <!-- FORM ROW -->
      <div class="form-row space-between">
        <!-- FORM ITEM -->
        <div class="form-item">
          <!-- CHECKBOX WRAP -->
          <div class="checkbox-wrap">
            <input type="checkbox" id="login-remember" name="login_remember" checked>
            <!-- CHECKBOX BOX -->
            <div class="checkbox-box">
              <!-- ICON CROSS -->
              <svg class="icon-cross">
                <use xlink:href="#svg-cross"></use>
              </svg>
              <!-- /ICON CROSS -->
            </div>
            <!-- /CHECKBOX BOX -->
            <label for="login-remember">Continuar conectado</label>
          </div>
          <!-- /CHECKBOX WRAP -->
        </div>
        <!-- /FORM ITEM -->

        <!-- FORM ITEM -->
        <div class="form-item">
          <!-- FORM LINK -->
          <a class="form-link" href="#">Esqueci minha senha</a>
          <!-- /FORM LINK -->
        </div>
        <!-- /FORM ITEM -->
      </div>
      <!-- /FORM ROW -->

      <!-- FORM ROW -->
      <div class="form-row">
        <!-- FORM ITEM -->
        <div class="form-item">
          <!-- BUTTON -->
          <%= f.submit 'Acessar minha conta!', name:"acessar",class:"btn bg-primary btn-lg btn-block text-white"%>
          <!-- /BUTTON -->
        </div>
        <!-- /FORM ITEM -->
      </div>
      <!-- /FORM ROW -->
     <%end%>
    <!-- /FORM -->

    <!-- LINED TEXT -->
    <p class="lined-text"></p>
    <!-- /LINED TEXT -->

    <!-- SOCIAL LINKS -->
    <div class="social-links">

    </div>
    <!-- /SOCIAL LINKS -->
  </div>
  <!-- /FORM BOX -->

  
<div class="form-box login-register-form-element">
    <!-- FORM BOX DECORATION -->
    <%= image_tag('/assets/landing/rocket.png', alt: "rocket", class:"form-box-decoration") %>
    <!-- /FORM BOX DECORATION -->

    <!-- FORM BOX TITLE -->
    <h2 class="form-box-title">Criar minha conta</h2>
    <!-- /FORM BOX TITLE -->

    <!-- FORM -->
    <%= form_for(:user, :url => registration_path(:user), html: { class: "form" }) do |f| %>

     <div class="form-row">
        <!-- FORM ITEM -->
        <div class="form-item">
          <!-- FORM INPUT -->
          <div class="form-input">
            <label for="register-username">Seu e-mail</label>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control",id:"register-username"  %>
          </div>
          <!-- /FORM INPUT -->
        </div>
        <!-- /FORM ITEM -->
      </div>
      <!-- /FORM ROW -->


      <!-- FORM ROW -->
      <div class="form-row">
        <!-- FORM ITEM -->
        <div class="form-item">
          <!-- FORM INPUT -->
          <div class="form-input">
            <label for="register-name">Nome completo</label>
            <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"form-control",id:"register-name"   %>
          </div>
          <!-- /FORM INPUT -->
        </div>
        <!-- /FORM ITEM -->
      </div>
      <!-- /FORM ROW -->

      <!-- FORM ROW -->
      <div class="form-row">
        <!-- FORM ITEM -->
        <div class="form-item">
          <!-- FORM INPUT -->
          <div class="form-input">
            <label for="register-password">Senha</label>
            <%= f.password_field :password, autocomplete: "register-password", class:"form-control" ,id:"register-password"%>
          </div>
          <!-- /FORM INPUT -->
        </div>
        <!-- /FORM ITEM -->
      </div>
      <!-- /FORM ROW -->


      <!-- FORM ROW -->
      <div class="form-row">
        <!-- FORM ITEM -->
        <div class="form-item">
          <!-- FORM INPUT -->
          <div class="form-input">
            <label for="register-passwordc">Senha</label>
            <%= f.password_field :password, autocomplete: "register-passwordc", class:"form-control" ,id:"register-passwordc"%>
          </div>
          <!-- /FORM INPUT -->
        </div>
        <!-- /FORM ITEM -->
      </div>
      <!-- /FORM ROW -->          

     <!-- /FORM ROW -->

      <!-- FORM ROW
      <div class="form-row">
        <div class="form-item">
          <div class="form-input">
            <label for="register-perfil">Perfil</label>

            <input type="radio" name="register_perfil" value="1">Empresas de energia</input>
            <input type="radio" name="register_perfil" value="2">Consultoria e Indústria</input>
            <input type="radio" name="register_perfil" value="3" checked>ICTs, Startups e universidades</input>
           <select id="register-perfil" name="register_perfil">
              <option value="1">Empresas de energia</option>
              <option value="2">Consultoria e Indústria</option>
              <option value="3">ICTs, Startups e universidades</option>
              <option value="4">Outros</option>
            </select>--
          </div>
        </div>
      </div>
       /FORM ROW -->

      <!-- FORM ROW -->
      <div class="form-row">
        <!-- FORM ITEM -->
        <div class="form-item">
          <!-- CHECKBOX WRAP -->
          <div class="checkbox-wrap">
            <input type="checkbox" id="register-newsletter" name="register_newsletter" checked>
            <!-- CHECKBOX BOX -->
            <div class="checkbox-box">
              <!-- ICON CROSS -->
              <svg class="icon-cross">
                <use xlink:href="#svg-cross"></use>
              </svg>
              <!-- /ICON CROSS -->
            </div>
            <!-- /CHECKBOX BOX -->
            <label for="register-newsletter">Concordo com os termos de uso e política de privacidade.</label>
          </div>
          <!-- /CHECKBOX WRAP -->
        </div>
        <!-- /FORM ITEM -->
      </div>
      <!-- /FORM ROW -->

      <!-- FORM ROW -->
      <div class="form-row">
        <!-- FORM ITEM -->
        <div class="form-item">
          <!-- BUTTON -->
          <%= f.submit 'Cadastrar!', name:"register",class:"btn bg-primary btn-lg btn-block text-white"%>
          <!-- /BUTTON -->
        </div>
        <!-- /FORM ITEM -->
      </div>
      <!-- /FORM ROW -->
    <%end%>
    <!-- /FORM -->

    <!-- FORM TEXT -->
    <p class="form-text">Você receberá um e-mail para confirmar o seu cadastro e ativar sua conta. Caso tenha problemas, entre em <a href="/contato">contato conosco</a>! </p>
    <!-- /FORM TEXT -->
  </div>
  <!-- /FORM BOX -->
</div>











