<%= render "shared/header-new" %>
  <div class="content-grid">
    <div class="profile-header v2">
      <figure class="profile-header-cover liquid">
        <%= image_tag(@programasetorial.main_imagepg) %>
      </figure>
      <% if current_user.empresa_id.present? %>
        <%empresa=Empresa.find(current_user.empresa_id)%>
        <%usersid=User.select(:id).where(empresa_id:current_user.empresa_id)%>
        <%@programasusers=Programasuser.where(programasetorial_id:@programasetorial.id).where("user_id IN (?)",usersid)%>
      <%end%>

      <div class="profile-header-info">
        <div class="user-short-description big">
          <span class="user-short-description-avatar user-avatar big no-stats">
            <div class="user-avatar-border">
              <div class="hexagon-148-164"></div>
            </div>
        
            <div class="user-avatar-content">
              <div class="hexagon-image-124-136" data-src="<%= "#{Rails.application.credentials.dig(:var, :var_url_remoto)}/img/banner/overview-icon.png"%>"></div>
            </div>
          </span>

          <span class="user-short-description-avatar user-short-description-avatar-mobile user-avatar medium no-stats">
            <div class="user-avatar-border">
              <div class="hexagon-120-130"></div>
            </div>
        
            <div class="user-avatar-content">
              <div class="hexagon-image-100-110" data-src="<%= "#{Rails.application.credentials.dig(:var, :var_url_remoto)}/img/avatar/24.jpg"%>"></div>
            </div>
          </span>
    
          <p class="user-short-description-title"><%=@programasetorial.name%></p>
    
          <p class="user-short-description-text"><%=@programasetorial.ano%></p>
        </div>

        <div class="user-stats">
          <!--
          <div class="user-stat big">
            <div class="user-stat-icon">
              <svg class="icon-public">
                <use xlink:href="#svg-public"></use>
              </svg>
            </div>
    
            <p class="user-stat-text"><%=@programasetorial.status%></p>
          </div>-->
         <% if current_user.empresa_id.present? %>
          <div class="user-stat big">
            <p class="user-stat-title"><%=@programasusers.count%></p>
    
            <p class="user-stat-text"><%=@programasusers.count == 1 ? "participante" : "participantes"%></p>
          </div>
         <%end%>
          <div class="user-stat big">
            <p class="user-stat-title">XXXX</p>
    
            <p class="user-stat-text">horas de reuniões</p>
          </div>
    
          <div class="user-stat big">
            <p class="user-stat-title">0</p>
    
            <p class="user-stat-text">PROPOSTAS DE INOVAÇÃO</p>
          </div>
        </div>

        <div class="profile-header-info-actions">
          <p class="profile-header-info-action text-tooltip-tft button secondary popup-user-invitation-trigger" data-title="Convidar participante">
            <svg class="icon-join-group">
              <use xlink:href="#svg-join-group"></use>
            </svg>
          </p>
        </div>
      </div>
    </div>

    <nav class="section-navigation">
      <div id="section-navigation-slider" class="section-menu">
        <a class="section-menu-item active" href="/home/programatimeline?id=<%=@programasetorial.id%>">
          <svg class="section-menu-item-icon icon-timeline">
            <use xlink:href="#svg-timeline"></use>
          </svg>
          <p class="section-menu-item-text">Timeline</p>
        </a>
        <a class="section-menu-item" href="/home/programainfo?id=<%=@programasetorial.id%>">
          <svg class="section-menu-item-icon icon-info">
            <use xlink:href="#svg-info"></use>
          </svg>
          <p class="section-menu-item-text">Informações</p>
        </a>
        <a class="section-menu-item" href="/home/programaparticipantes?id=<%=@programasetorial.id%>">
          <svg class="section-menu-item-icon icon-group">
            <use xlink:href="#svg-group"></use>
          </svg>

          <p class="section-menu-item-text">Participantes</p>
        </a>
        <a class="section-menu-item" href="/home/programaeventos?id=<%=@programasetorial.id%>">
          <svg class="section-menu-item-icon icon-events-monthly">
            <use xlink:href="#svg-events-monthly"></use>
          </svg>
          <p class="section-menu-item-text">Eventos</p>
        </a>
        <a class="section-menu-item" href="/home/programaarquivos?id=<%=@programasetorial.id%>">
          <svg class="section-menu-item-icon icon-forum">
            <use xlink:href="#svg-forum"></use>
          </svg>
          <p class="section-menu-item-text">Arquivos</p>
        </a>
        <a class="section-menu-item" href="/home/programapropostas?id=<%=@programasetorial.id%>">
          <svg class="section-menu-item-icon icon-trophy">
            <use xlink:href="#svg-trophy"></use>
          </svg>
          <p class="section-menu-item-text">Propostas</p>
        </a>
      </div>
      <div id="section-navigation-slider-controls" class="slider-controls">
        <div class="slider-control left">
          <svg class="slider-control-icon icon-small-arrow">
            <use xlink:href="#svg-small-arrow"></use>
          </svg>
        </div>
        <div class="slider-control right">
          <svg class="slider-control-icon icon-small-arrow">
            <use xlink:href="#svg-small-arrow"></use>
          </svg>
        </div>
      </div>
    </nav>

    <div class="grid grid-3-6-3 mobile-prefer-content">
      <div class="grid-column">
        <div class="widget-box">
          <p class="widget-box-title">Informações do Ciclo</p>

          <div class="widget-box-content">
            <p class="paragraph"><%=@programasetorial.descricaocurta%></p>

            <div class="information-line-list">
              <div class="information-line">
                <p class="information-line-title">Ano</p>
                <p class="information-line-text"><%=@programasetorial.ano%></p>
              </div>

              <div class="information-line">
                <p class="information-line-title">E-mail</p>
                <p class="information-line-text"><a href="mailto:setorial@enerfuture.com.br">Enviar e-mail</a></p>
              </div>

              <div class="information-line">
                <p class="information-line-title">Site</p>
                <p class="information-line-text"><a href="https://www.energyfuture.com.br/ciclo-esg" target="_blank">Acessar site</a></p>
              </div>
            </div>
          </div>
        </div>

        <div class="widget-box">
          <p class="widget-box-title">Participantes</p>

          <div class="widget-box-content">
            <div class="filters">
              <p class="filter">Minha empresa</p>
              <p class="filter active">Todos</p>
            </div>

            <div class="user-status-list">
                <%if @programasusers.present?%>
                  <% @programasusers.each do |programasuser| %>
                    <%user=User.find(programasuser.user_id)%>
                    <%empresa=Empresa.find(user.empresa_id)%>
                    <div class="user-status request-small">
                      <a class="user-status-avatar" href="#">
                        <div class="user-avatar small no-outline">
                          <div class="user-avatar-content">
                            <div class="hexagon-image-30-32" data-src="<%= "#{Rails.application.credentials.dig(:var, :var_url_remoto)}/img/avatar/15.jpg" %>"></div>
                          </div>
                        </div>
                      </a>
                      <p class="user-status-title"><span class="bold"><%=user.name%></span></p>
                      <p class="user-status-text small"><%=empresa.nomefantasia%></p>
                  
                      <div class="action-request-list">
                        <div class="action-request accept">
                          <svg class="action-request-icon icon-add-friend">
                            <use xlink:href="#svg-add-friend"></use>
                          </svg>
                        </div>
                      </div>
                    </div>
                  <%end%>
                <%end%>
            </div>
          </div>
        </div>
      </div>

      <div class="grid-column">
        <div class="widget-box no-padding">
          <div class="widget-box-status">

            <div class="widget-box-status-content">
              <div class="user-status">
                <a class="user-status-avatar" href="profile-timeline.html">
                  <div class="user-avatar small no-outline">
                    <div class="user-avatar-content">
                      <div class="hexagon-image-30-32" data-src="<%= "#{Rails.application.credentials.dig(:var, :var_url_remoto)}/img/avatar/33.jpg" %>"></div>
                    </div>
                  </div>
                </a>
            
                <p class="user-status-title medium"><a class="bold" href="profile-timeline.html">Luiz Felipe Pamplona</a></p>
            
                <p class="user-status-text small">2 weeks ago</p>
              </div>
      
              <p class="widget-box-status-text">Atualização importante sobre o Ciclo: A data de envio das propostas para a chamada social foi adiada para o dia 24. Aproveitem para melhorar ainda mais suas propostas!</p>
      
              <a class="video-status" href="https://discordapp.com/" target="_blank">
                <img class="video-status-image" src="<%= "#{Rails.application.credentials.dig(:var, :var_url_remoto)}/img/cover/52.jpg" %>" alt="cover-52">
      
                <div class="video-status-info">
                  <p class="video-status-meta">discordapp.com</p>
      
                  <p class="video-status-title"><span class="bold">Cosplayers of the World</span> on <span class="highlighted">Discord</span></p>
      
                  <p class="video-status-text">Let's talk about everything cosplay related!.</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="grid-column">
        <div class="widget-box">
          <p class="widget-box-title">Organizadores</p>

          <div class="widget-box-content">
            <div class="user-status-list">
              <div class="user-status">
                <span class="user-status-avatar">
                  <div class="user-avatar small no-outline">
                    <div class="user-avatar-content">
                      <div class="hexagon-image-30-32" data-src="<%= "#{Rails.application.credentials.dig(:var, :var_url_remoto)}/img/avatar/33.jpg" %>"></div>
                    </div>
                  </div>
                </span>
            
                <p class="user-status-title"><span class="bold">Luiz Felipe Pamplona</span></p>
            
                <p class="user-status-text small">Sócio do EnergyFuture</p>
              </div>
            </div>
          </div>
        </div>
        <div class="widget-box">
        <% @eventos = Evento.where(tipoobjeto:"Programa Setorial",idobjeto:@programasetorial.id,status:"ativo")%>
          <p class="widget-box-title">Próximo(s) evento(s) <span class="highlighted"><%=@eventos.size%></span></p>
          <div class="widget-box-content mt-0">
            <div class="event-preview-list">
              <% @eventos.each do |evento| %>
                <div class="event-preview small">
                  <!--<figure class="event-preview-cover liquid">
                    <img src="<%= "#{Rails.application.credentials.dig(:var, :var_url_remoto)}/img/cover/33.jpg" %>" alt="cover-33">
                  </figure> -->
                  <div class="event-preview-info">
                    <%timeline=Timeline.where(idobjeto:evento.id,tipoobjeto:"Eventos PG")%>
                    <%thdi=evento.datainicio%>
                    <!--<p class="user-status-text small">Data Início: <%=thdi.strftime("%d /%m/%Y")%></p>
                    <p class="user-status-text small">Empresas: <%=@programasetorial.empresa%></p>
                    <p class="user-status-text small">Parceiros: <%=@programasetorial.parceiro%></p> -->
                    <%thi=evento.horainicio%>
                    <%thf=evento.horafim%>
                    <div class="date-sticker">
                      <p class="date-sticker-day"><%=thdi.strftime("%d")%></p>
                      <p class="date-sticker-month"><%=thdi.strftime("%b")%></p>
                    </div>
                    <p class="event-preview-title popup-event-information-trigger">[Nome do Evento]</p>
                    <p class="event-preview-timestamp"><%=thi.strftime('%H:%M')%> - <%= thf.strftime('%H:%M') %></p>
                    <p class="event-preview-text"></p>
                    <p class="event-preview-timestamp">Duração: <%= preparahoras(evento.duration) %></p>
                    <%timeline=Timeline.where(idobjeto:evento.id,tipoobjeto:"Eventos PG")%>
                    <div class="form-item mt-3">
                      <div class="form-select">
                        <label for="rscp">Você vai?</label>
                        <select name="rsvp" id="rsvp">
                          <option disabled selected>Selecione</option>
                          <option value="sim">Sim</option>
                          <option value="nao">Não</option>
                        </select>
                        <svg class="form-select-icon icon-small-arrow">
                          <use xlink:href="#svg-small-arrow"></use>
                        </svg>
                      </div>
                    </div>
                    <!-- <div class="d-flex align-items-center justify-content-between">
                      <span class="wrap-text: nowrap;">Você vai?</span>
                      <p class="button white small mt-2" style="width: 50%;">
                        <%= link_to "Selecione", "/home/participarevento?id=#{evento.id}&idobjeto=#{evento.idobjeto}&tipoobjeto=#{evento.tipoobjeto}" %>
                      </p>
                    </div>
                    <div class="grid grid-6-6 mobile-prefer-content">
                      <%if !timeline.present?%>
                        <p class="button white small mt-2">
                          <%= link_to "Participar", "/home/participarevento?id=#{evento.id}&idobjeto=#{evento.idobjeto}&tipoobjeto=#{evento.tipoobjeto}" %>
                        </p>
                      <%else%>
                        <div class="grid-column">
                          <div class="action-request-list">
                            <div class="action-request accept">
                              <svg class="action-request-icon icon-add-friend">
                                <use xlink:href="#svg-add-friend"></use>
                              </svg>
                            </div>
                          </div>
                        </div>
                        <div class="grid-column">
                          <p class="button white small mt-2">
                            <%= link_to "Não", "/home/participarevento?id=#{evento.id}&idobjeto=#{evento.idobjeto}&tipoobjeto=#{evento.tipoobjeto}" %>
                          </p>
                        </div>
                      <%end%> 
                    </div>-->
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="popup-box small popup-user-invitation">
      <div class="popup-close-button popup-user-invitation-trigger">
        <svg class="popup-close-button-icon icon-cross">
          <use xlink:href="#svg-cross"></use>
        </svg>
      </div>

      <p class="popup-box-title">Convidar partipante</p>

      <form class="form">
        <div class="form-row">
          <div class="form-item">
            <div class="form-input">
              <label for="user-name">Primeiro nome</label>
              <input type="text" name="user-name" id="user-name" />
            </div>
            <div class="form-input">
              <label for="user-mail">E-mail</label>
              <input type="text" name="user-mail" id="user-mail" />
            </div>
          </div>
        </div>

        <div class="popup-box-actions medium void">
          <button class="popup-box-action full button secondary">Convidar participante</button>
        </div>
      </form>
    </div>
  </div>
<%= render "shared/footer-new" %>

<script>
  document.getElementById('rsvp').addEventListener('change', function(e) {
    alert(this.value);
    //async function participarDoEvento() {
      //const response = await fetch("http://example.com/movies.json");
      //const movies = await response.json();
      //console.log(movies);
    //}
  })
</script>