<%= render "shared/header-new" %>
  <div class="content-grid">
    <div class="profile-header v2">
      <figure class="profile-header-cover liquid">
        <%= image_tag(@programasetorial.main_imagepg) %>
      </figure>

      <% if current_user.empresa_id.present? %>
        <%empresa=Empresa.find(current_user.empresa_id)%>
        <%usersid=User.select(:id).where(empresa_id:current_user.empresa_id)%>
        <%@programasusers=Programasuser.where(programasetorial_id:@programasetorial.id).where("user_id IN (?)",usersid)%>
      <%end%>

      <div class="profile-header-info">
        <div class="user-short-description big">
          <a class="user-short-description-avatar user-avatar big no-stats" href="group-timeline.html">
            <div class="user-avatar-border">
              <div class="hexagon-148-164"></div>
            </div>
        
            <div class="user-avatar-content">
              <div class="hexagon-image-124-136" data-src="<%= "#{Rails.application.credentials.dig(:var, :var_url_remoto)}/img/banner/overview-icon.png"%>"></div>
            </div>
          </a>

          <a class="user-short-description-avatar user-short-description-avatar-mobile user-avatar medium no-stats" href="group-timeline.html">
            <div class="user-avatar-border">
              <div class="hexagon-120-130"></div>
            </div>
        
            <div class="user-avatar-content">
              <div class="hexagon-image-100-110" data-src="img/avatar/24.jpg"></div>
            </div>
          </a>
    
          <p class="user-short-description-title"><%=@programasetorial.name%></p>
    
          <p class="user-short-description-text"><%=@programasetorial.ano%></p>
        </div>

        <div class="user-stats">
          <!--
          <div class="user-stat big">
            <div class="user-stat-icon">
              <svg class="icon-public">
                <use xlink:href="#svg-public"></use>
              </svg>
            </div>
    
            <p class="user-stat-text"><%=@programasetorial.status%></p>
          </div>-->

          <div class="user-stat big">
            <p class="user-stat-title"><%=@programasusers.count%></p>
    
            <p class="user-stat-text"><%=@programasusers.count == 1 ? "participante" : "participantes"%></p>
          </div>
    
          <div class="user-stat big">
            <p class="user-stat-title">XXXX</p>
    
            <p class="user-stat-text">horas de reuniões</p>
          </div>
    
          <div class="user-stat big">
            <p class="user-stat-title">0</p>
    
            <p class="user-stat-text">PROPOSTAS DE INOVAÇÃO</p>
          </div>
        </div>

        <div class="profile-header-info-actions">
          <p class="profile-header-info-action text-tooltip-tft button secondary" data-title="Convidar participante">
            <svg class="icon-join-group">
              <use xlink:href="#svg-join-group"></use>
            </svg>
          </p>
        </div>
      </div>
    </div>

    <nav class="section-navigation">
      <div id="section-navigation-slider" class="section-menu">
        <a class="section-menu-item" href="/home/programatimeline?id=<%=@programasetorial.id%>">
          <svg class="section-menu-item-icon icon-timeline">
            <use xlink:href="#svg-timeline"></use>
          </svg>
          <p class="section-menu-item-text">Timeline</p>
        </a>
        <a class="section-menu-item" href="/home/programainfo?id=<%=@programasetorial.id%>">
          <svg class="section-menu-item-icon icon-info">
            <use xlink:href="#svg-info"></use>
          </svg>
          <p class="section-menu-item-text">Informações</p>
        </a>
        <a class="section-menu-item" href="/home/programaparticipantes?id=<%=@programasetorial.id%>">
          <svg class="section-menu-item-icon icon-group">
            <use xlink:href="#svg-group"></use>
          </svg>

          <p class="section-menu-item-text">Participantes</p>
        </a>
        <a class="section-menu-item active" href="/home/programaeventos?id=<%=@programasetorial.id%>">
          <svg class="section-menu-item-icon icon-events-monthly">
            <use xlink:href="#svg-events-monthly"></use>
          </svg>
          <p class="section-menu-item-text">Eventos</p>
        </a>
        <a class="section-menu-item" href="/home/programaarquivos?id=<%=@programasetorial.id%>">
          <svg class="section-menu-item-icon icon-forum">
            <use xlink:href="#svg-forum"></use>
          </svg>
          <p class="section-menu-item-text">Arquivos</p>
        </a>
        <a class="section-menu-item" href="/home/programapropostas?id=<%=@programasetorial.id%>">
          <svg class="section-menu-item-icon icon-trophy">
            <use xlink:href="#svg-trophy"></use>
          </svg>
          <p class="section-menu-item-text">Propostas</p>
        </a>
      </div>
      <div id="section-navigation-slider-controls" class="slider-controls">
        <div class="slider-control left">
          <svg class="slider-control-icon icon-small-arrow">
            <use xlink:href="#svg-small-arrow"></use>
          </svg>
        </div>
        <div class="slider-control right">
          <svg class="slider-control-icon icon-small-arrow">
            <use xlink:href="#svg-small-arrow"></use>
          </svg>
        </div>
      </div>
    </nav>
    <div class="row mt-5">
      <% @eventos.each do |evento| %>
        <%agenda=Agenda.where(id:evento.idobjeto)%>
        <%if agenda[0].present?%>
          <%@agenda=Agenda.find(agenda[0].id)%>
        <%end%> 
        <%timeline=Timeline.where(idobjeto:evento.id,tipoobjeto:"Agenda")%>
        <%if timeline[0].present?%>
          <%@timeline=Timeline.find(timeline[0].id)%> 
        <%end%>
        <div class="col-lg-3 col-md-6 col-xs-12 mb-3">
          <!-- EVENT PREVIEW -->
          <div class="event-preview">
            <% if  @agenda.main_image.attached? %>
              <figure class="event-preview-cover liquid">
                <%= image_tag(@agenda.main_image) %>
              </figure>
            <% end %>    
            <div class="event-preview-info">
              <div class="event-preview-info-top">
              <div class="date-sticker">
                  <%td = evento.datainicio %>
                  <p class="date-sticker-day"><%=td.strftime('%d')%></p>
                  <p class="date-sticker-month"><%=td.strftime('%b')%></p>
              </div>
              <%thi = evento.horainicio %>
              <%thf = evento.horafim %>
              <p class="event-preview-title popup-event-information-trigger"><%= evento.name %></p>
              <p class="event-preview-timestamp"><b><%=thi.strftime('%H:%M') + " - " + thf.strftime('%H:%M')%></b></p>
              <%if agenda[0].present?%>
              <p class="event-preview-text"></p>
              <div class="decorated-text">
                <svg class="decorated-text-icon icon-pin">
                    <use xlink:href="#svg-pin"></use>
                </svg>
                <p class="decorated-text-content"><%= @agenda.tipoevento%></p>
              </div>
              <%end%> 
              <% if evento.descricaocurta.present?%>
                <p class="event-preview-text"><%= evento.descricaocurta.slice! 0, 80  %></p>
              <%end%>                 
            </div>
            <% eventouser=Eventosuser.where(evento_id:evento.id,user_id:current_user.id,tipoobjeto:"Agenda")%>
            <% if !eventouser.present? %>
              <div class="event-preview-info-bottom">
                <%if @agenda.tipoevento.eql?"Energy Future"%>
                  <p class="button white"  style="margin-top: 0px;"><%= link_to "PARTICIPAR", "/home/participarevento?id=#{evento.id}&idobjeto=#{evento.idobjeto}&tipoobjeto=#{evento.tipoobjeto}"%></p>
                <%elsif @agenda.tipoevento.eql?"Ecossistema"%>
                  <p class="button white"  style="margin-top: 0px;"><%= link_to "ENTRAR NO EVENTO", "//#{evento.linkevento}"%></p>
                <%end%> 
              </div>
            <%end%>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
<%= render "shared/footer-new" %>