<%= render "shared/header-new" %>
  <style>
    .badge-item-preview {
      padding: 16px;
      height: 100px;
      display: flex;
      align-items: center;
      cursor: pointer
    }

    .badge-item-preview:hover {
      box-shadow: 0 0 20px 0 rgb(94 92 154 / 30%);
      transition: 0.2s box-shadow linear;
    }

    .badge-item-preview .badge-item-preview-image {
      width: 68px;
      height: 68px;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      border-radius: 50%;
      background-color: #efefef;
      border: 4px solid #adafca;
      /* font-family: 'Rajhdani'; */
      font-family: Rajdhani,sans-serif;
      font-weight: bold;
      font-size: 20px;
      color: #adafca;
    }
  </style>
  <div class="content-grid">
    <div class="profile-header v2">
      <figure class="profile-header-cover liquid">
        <%= image_tag(@programasetorial.main_imagepg) %>
      </figure>
      <%
        def get_file_extension(url)
          # Dividir a URL pelo caractere "."
          parts = url.split(".")

          # Retornar a última parte da string resultante
          # A extensão do arquivo é a última parte
          extension = parts.last

          return extension
        end
      %>
      <% if current_user.empresa_id.present? %>
        <%empresa=Empresa.find(current_user.empresa_id)%>
        <%usersid=User.select(:id).where(empresa_id:current_user.empresa_id)%>
        <%@programasusers=Programasuser.where(programasetorial_id:@programasetorial.id).where("user_id IN (?)",usersid)%>
        <%@programaarquivos=Arquivo.where(idobjeto:@programasetorial.id).where(tipoobjeto:"Programa Setorial")%>
      <%end%>

      <div class="profile-header-info">
        <div class="user-short-description big">
          <a class="user-short-description-avatar user-avatar big no-stats" href="group-timeline.html">
            <div class="user-avatar-border">
              <div class="hexagon-148-164"></div>
            </div>
        
            <div class="user-avatar-content">
              <div class="hexagon-image-124-136" data-src="<%= "#{Rails.application.credentials.dig(:var, :var_url_remoto)}/img/banner/overview-icon.png"%>"></div>
            </div>
          </a>

          <a class="user-short-description-avatar user-short-description-avatar-mobile user-avatar medium no-stats" href="group-timeline.html">
            <div class="user-avatar-border">
              <div class="hexagon-120-130"></div>
            </div>
        
            <div class="user-avatar-content">
              <div class="hexagon-image-100-110" data-src="img/avatar/24.jpg"></div>
            </div>
          </a>
    
          <p class="user-short-description-title"><%=@programasetorial.name%></p>
    
          <p class="user-short-description-text"><%=@programasetorial.ano%></p>
        </div>

        <div class="user-stats">
          <!--
          <div class="user-stat big">
            <div class="user-stat-icon">
              <svg class="icon-public">
                <use xlink:href="#svg-public"></use>
              </svg>
            </div>
    
            <p class="user-stat-text"><%=@programasetorial.status%></p>
          </div>-->

          <div class="user-stat big">
            <p class="user-stat-title">XXXX</p>
    
            <p class="user-stat-text">participantes</p>
          </div>
    
          <div class="user-stat big">
            <p class="user-stat-title">XXXX</p>
    
            <p class="user-stat-text">horas de reuniões</p>
          </div>
    
          <div class="user-stat big">
            <p class="user-stat-title">0</p>
    
            <p class="user-stat-text">PROPOSTAS DE INOVAÇÃO</p>
          </div>
        </div>

        <div class="profile-header-info-actions">
          <p class="profile-header-info-action text-tooltip-tft button secondary popup-user-invitation-trigger" data-title="Convidar participante">
            <svg class="icon-join-group">
              <use xlink:href="#svg-join-group"></use>
            </svg>
          </p>
        </div>
      </div>
    </div>

    <nav class="section-navigation">
      <div id="section-navigation-slider" class="section-menu">
        <a class="section-menu-item" href="/home/programatimeline?id=<%=@programasetorial.id%>">
          <svg class="section-menu-item-icon icon-timeline">
            <use xlink:href="#svg-timeline"></use>
          </svg>
          <p class="section-menu-item-text">Timeline</p>
        </a>
        <a class="section-menu-item" href="/home/programainfo?id=<%=@programasetorial.id%>">
          <svg class="section-menu-item-icon icon-info">
            <use xlink:href="#svg-info"></use>
          </svg>
          <p class="section-menu-item-text">Informações</p>
        </a>
        <a class="section-menu-item" href="/home/programaparticipantes?id=<%=@programasetorial.id%>">
          <svg class="section-menu-item-icon icon-group">
            <use xlink:href="#svg-group"></use>
          </svg>

          <p class="section-menu-item-text">Participantes</p>
        </a>
        <a class="section-menu-item" href="/home/programaeventos?id=<%=@programasetorial.id%>">
          <svg class="section-menu-item-icon icon-events-monthly">
            <use xlink:href="#svg-events-monthly"></use>
          </svg>
          <p class="section-menu-item-text">Eventos</p>
        </a>
        <a class="section-menu-item active" href="/home/programaarquivos?id=<%=@programasetorial.id%>">
          <svg class="section-menu-item-icon icon-forum">
            <use xlink:href="#svg-forum"></use>
          </svg>
          <p class="section-menu-item-text">Arquivos</p>
        </a>
      </div>
      <div id="section-navigation-slider-controls" class="slider-controls">
        <div class="slider-control left">
          <svg class="slider-control-icon icon-small-arrow">
            <use xlink:href="#svg-small-arrow"></use>
          </svg>
        </div>
        <div class="slider-control right">
          <svg class="slider-control-icon icon-small-arrow">
            <use xlink:href="#svg-small-arrow"></use>
          </svg>
        </div>
      </div>
    </nav>
    <div class="grid grid-4-4-4">
      <% @programaarquivos.each do |programaarquivo| %>
        <a href="<%= programaarquivo.url %>" target="_blank">
        <div class="badge-item-preview">
          <div class="badge-item-preview-image d-flex align-items-center justify-content-center"><%= get_file_extension(programaarquivo.url).upcase %></div>
          <div class="badge-item-preview-info">
            <p class="badge-item-preview-title"><%= programaarquivo.name %></p>
            <p class="badge-item-preview-timestamp"><%= programaarquivo.created_at.strftime('%d/%m/%Y %H:%M:%S') %></p>
          </div>
        </div>
      <% end %>
  </div>
  </div>
  <div class="popup-box small popup-user-invitation">
    <div class="popup-close-button popup-user-invitation-trigger">
      <svg class="popup-close-button-icon icon-cross">
        <use xlink:href="#svg-cross"></use>
      </svg>
    </div>

    <p class="popup-box-title">Convidar partipante</p>

    <form class="form">
      <div class="form-row">
        <div class="form-item">
          <div class="form-input">
            <label for="user-name">Primeiro nome</label>
            <input type="text" name="user-name" id="user-name" />
          </div>
          <div class="form-input mt-3">
            <label for="user-mail">E-mail</label>
            <input type="text" name="user-mail" id="user-mail" />
          </div>
        </div>
      </div>

      <div class="popup-box-actions medium void">
        <button class="popup-box-action full button secondary">Convidar participante</button>
      </div>
    </form>
  </div>
<%= render "shared/footer-new" %>