<%= render "shared/header-new"%>

<!-- CONTENT GRID -->
<div class="content-grid">
    <!-- SECTION BANNER -->
    <div class="section-banner">
        <%= image_tag('/assets/banner/overview-icon.png', alt: "overview-icon",class:"section-banner-icon") %>

        <!-- SECTION BANNER TITLE -->
        <p class="section-banner-title">Academy</p>
        <!-- /SECTION BANNER TITLE -->

        <!-- SECTION BANNER TEXT -->
        <p class="section-banner-text">Confira o Academy que movimenta o setor </p>
        <!-- /SECTION BANNER TEXT -->
    </div>
    <!-- /SECTION BANNER -->

            <div class="section-header">
                <!-- SECTION HEADER INFO -->
                <div class="section-header-info">
                    <!-- SECTION PRETITLE -->
                    <p class="section-pretitle"><%= link_to "Agenda", "/home/agenda" %> </p>
                    
                    <p class="section-pretitle">Veja o que vem a seguir!</p>
                    <!-- /SECTION PRETITLE -->

                    <!-- SECTION TITLE -->
                    <h2 class="section-title">Próximos Academy</h2>
                    <!-- /SECTION TITLE -->
                    
                </div>
                <!-- /SECTION HEADER INFO -->
                 
            </div>

            <div class="grid grid-3-3-3-3 centered">
              <% @academies.each do |academy| %>
              <%agenda=Agenda.where(tipoevento: "Academy",idevento:academy.id)%>
                <!-- EVENT PREVIEW -->
                <div class="event-preview">
                    <figure class="event-preview-cover liquid" style="background: url(&quot;https://hub.energyfuture.com.br/img/cover/40.jpg&quot;) center center / cover no-repeat;">
                        <%= image_tag(agenda[0].fotomaior, alt: "cover-40") %>
                    </figure>
                    <div class="event-preview-info">
                        <div class="event-preview-info-top">
                            <div class="date-sticker">
                            <%td = agenda[0].datainiciom1 %>
                            <p class="date-sticker-day"><%=td.strftime('%d')%></p>
                            <p class="date-sticker-month"><%=td.strftime('%m')%></p>
                            </div>
                          <%th = agenda[0].horainicio %>
                          <p class="event-preview-title popup-event-information-trigger"><%= academy.name %></p>
                          <p class="event-preview-timestamp"><span class="bold"><%=th.strftime('%H:%M')%></span></p>
                          <p class="event-preview-text"><%= academy.descricao %></p>

                        </div>
                        <div class="event-preview-info-bottom">
                            <div class="decorated-text">
                                <svg class="decorated-text-icon icon-pin">
                                    <use xlink:href="#svg-pin"></use>
                                </svg>
                                <p class="decorated-text-content"><%=agenda[0].category%></p>
                            </div>
                            <!-- /DECORATED TEXT -->

                            <!-- META LINE -->
                            <div class="meta-line">
                                <p class="meta-line-text">+17 will assist</p>
                            </div>

                            <%academiesparticipante=Academiesparticipante.where(user_id:current_user.id).where(academy_id:academy.id)%>
                            <%if !academiesparticipante.present?%>
                             <p class="button white white-tertiary"><%= link_to "Participar", "/home/participaracademy?id=#{academy.id}"%></p>
                            <%else%>
                             <p class="button white white-tertiary"><%= link_to "já Participo", "/home/participaracademy?id=#{academy.id}"%></p>
                            <%end%>

                        </div>
                    </div>
                </div>
                <% end %>
                <!-- /EVENT PREVIEW -->

            </div>
 </div>
<%= render "shared/footer-new"%>
