<%= form_with(model: evento) do |form| %>
  <div>
    <%= form.label :datainicio, style: "display: block" %>
    <%= form.date_field :datainicio %>
  </div>
  <div>
    <%= form.label :datafim, style: "display: block" %>
    <%= form.date_field :datafim %>
  </div>

    <div>
    <%= form.label :teste, style: "display: block" %>
    <%= form.text_field :tipoobjeto %>
  </div>

  <div>
    <%= form.label :teste, style: "display: block" %>
    <%= form.text_field :idobjeto %>
  </div>



   <div>
    <%= form.label :horainicio, style: "display: block" %>
    <%= form.time_field :horainicio%>
  </div>

  <div>
    <%= form.label :horafim, style: "display: block" %>
    <%= form.time_field :horafim %>
  </div> 

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.select(:status, Evento.statuses.keys.map {|status| [status.titleize,status]}, :class => 'form-control' )%>
  </div>
   <div>
    <%= form.label :"Enviar para participante?", style: "display: block" %>
    <%= form.select(:enviarparaparticipante, [['Sim', true], ['Não', false]], :class => 'form-control' )%>

  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
 <style>
   body { margin: 2%; }
</style>
