<div class="d-flex justify-content-between align-items-center">
  <h4>Usuários</h4>
</div>

<div id="users">
  <table class="table">
    <thead class="table-light">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nome</th>
        <th scope="col">Celular</th>
        <th scope="col">Email</th>
        <th scope="col">Status</th>
        <th scope="col">Perfil</th>
        <th scope="col">Plano</th>
        <th scope="col">Empresa</th>
        <th scope="col">Show</th>
      </tr>
    <tbody>
      <% @users.each do |user| %>
      <tr>
       <td><%= user.id %></td>    
       <td><%= user.name %></td>
       <td><%= user.phone %></td>
       <td><%= user.email %></td>
       <td><%= user.status %></td>
    <%if user.icp_id?%>
    <%icp=Icp.find(user.icp_id)%>
  <td><%= icp.name %></td>
  <%end%>
  <%if user.plano_id?%>
  <%plano=Plano.find(user.plano_id)%>
  <td><%= plano.name %></td>
  <%end%>  
  <%if user.empresa_id?%>
  <%empresa=Empresa.find(user.empresa_id)%>
  <td><%= empresa.nomefantasia %></td>
  <%end%>
  <td><%= link_to "show", "/homea/showusers/?id=#{user.id}" %></td>
  <td><%= link_to "edit", "/homea/edituser/?id=#{user.id}" %></td>
  </tr>
  <% end %>
    </tbody>
  </table>
</div>
<%= link_to "Home", "/homea/index" %>

 <style>
   body { margin: 2%; }
</style>