<%= form_with(model: agenda) do |form| %>
  <% if agenda.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(agenda.errors.count, "error") %> prohibited this agenda from being saved:</h2>

      <ul>
        <% agenda.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :descricao, style: "display: block" %>
    <%= form.text_area :descricao %>
  </div>

    <div>
    <%= form.label :descricaocurta, style: "display: block" %>
    <%= form.text_field :descricaocurta %>
  </div>

  <div>
    <%= form.label :fotomaior, style: "display: block" %>
    <%= form.file_field :main_image %>
  </div>

  <div>
    <%= form.label :datainicio, style: "display: block" %>
    <%= form.date_field :datainicio %>
  </div>

    <div>
    <%= form.label :datafim, style: "display: block" %>
    <%= form.date_field :datafim %>
  </div>

  <div>
    <%= form.label :horainicio, style: "display: block" %>
    <%= form.time_field :horainicio %>
  </div>

  <div>
    <%= form.label :horafim, style: "display: block" %>
    <%= form.time_field :horafim %>
  </div>  

     <div>
    <%= form.label :link, style: "display: block" %>
    <%= form.text_field :linkevento %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.select(:status, Agenda.statuses.keys.map {|status| [status.titleize,status]}, :class => 'form-control' )%>
  </div>

  <div>
    <%= form.label :tipoevento, style: "display: block" %>
    <%= form.select(:tipoevento, Agenda.tipoeventos.keys.map {|tipoevento| [tipoevento.titleize,tipoevento]}, :class => 'form-control' )%>
  </div>

    <div>
    <%= form.label :"Enviar para participante?", style: "display: block" %>
    <%= form.select(:enviarparaparticipante, [['Sim', true], ['Não', false]], :class => 'form-control' )%>
  </div>
  <div>
    <%= form.label :tipoparticipanteconvite, style: "display: block" %>
    <%= form.select(:tipoparticipanteconvite, Agenda.tipoparticipanteconvites.keys.map {|tipoparticipanteconvite| [tipoparticipanteconvite.titleize,tipoparticipanteconvite]}, 
    :class => 'form-control' )%>
  </div>


  <div>
    <%= form.submit %>
  </div>
<% end %>

 <style>
   body { margin: 2%; }
</style>
