<div class="d-flex justify-content-between align-items-center">
  <h4>Agendas</h4>
</div>

<div id="agendas">
  <table class="table">
    <thead class="table-light">
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Data</th>
        <th scope="col">Horário</th>
        <th scope="col">Link</th>
        <th scope="col">Duração min</th>
        <th scope="col">Tipo Evento</th>
        <th scope="col">Status</th>
        <th scope="col">Show</th>
      </tr>
    <tbody>
      <% @agendas.each do |agenda| %>
      <tr>
       <% evento=Evento.where(tipoobjeto:"Agenda",idobjeto:agenda.id)%>
       <% timeline=Timeline.where(tipoobjeto:"Agenda",idobjeto:evento[0].id)%>
       <%td = evento[0].datainicio %>
       <%th = evento[0].horainicio %>   
       <td><%= evento[0].name %></td>
       <td><%=td.strftime('%d/%m/%y')%></td>
       <td><%=th.strftime('%H:%M')%></td>
       <td><%= evento[0].linkevento %></td>
       <td><%=evento[0].duration%></td>
       <td><%= agenda.tipoevento %></td>
       <td><%= evento[0].status %></td>
       <td><%=link_to "Show", agenda %></td>
  </tr>
  <% end %>
    </tbody>
  </table>
</div>
<%= link_to "New Agenda", new_agenda_path %></br>
<%= link_to "Home", "/homea/index" %>
 <style>
   body { margin: 2%; }
</style>