<%= render "shared/aheader-new"%>

<!-- CONTENT GRID -->
<div class="content-grid">
    <!-- SECTION BANNER -->
    <div class="section-banner">
        <%= image_tag('https://hub.energyfuture.com.br/img/banner/overview-icon.png', alt: "overview-icon",class:"section-banner-icon") %>

        <!-- SECTION BANNER TITLE -->
        <p class="section-banner-title">Agenda do Hub</p>
        <!-- /SECTION BANNER TITLE -->

        <!-- SECTION BANNER TEXT -->
        <p class="section-banner-text">Confira os eventos que movimentam o setor </p>
        <!-- /SECTION BANNER TEXT -->
    </div>
    <!-- /SECTION BANNER -->

            <div class="section-header">
                <!-- SECTION HEADER INFO -->
                <div class="section-header-info">
                    <!-- SECTION PRETITLE -->
                    <p class="section-pretitle"><%= link_to "Home", "/homea/index" %> </p>
                    <p class="section-pretitle"><%= link_to "Back to agendas", agendas_path %> </p>
                    <!-- /SECTION PRETITLE -->
                    
                </div>
                <!-- /SECTION HEADER INFO -->
                 
            </div>

            <div class="grid grid-3-3-3-3 centered">
              <% evento=Evento.where(tipoobjeto:"Agenda").where(idobjeto:@agenda.id)%>
              <% @evento=Evento.find(evento[0].id)%>
                <!-- EVENT PREVIEW -->
                <div class="event-preview">
                    <div class="event-preview-info">
                        <div class="event-preview-info-top">
                          <% if  @agenda.main_image.attached? %>
                            <figure class="event-preview-cover liquid">
                             <%= image_tag(@agenda.main_image) %>
                            </figure>
                         <% end %>  
                            <div class="date-sticker">
                            <%td = @evento.datainicio %>
                            <p class="date-sticker-day"><%=td.strftime('%d')%></p>
                            <p class="date-sticker-month"><%=td.strftime('%m')%></p>
                            </div>
                          <%th = @evento.horainicio %>
                          </br>
                          <p class="event-preview-title popup-event-information-trigger"><%= @evento.name %><%= @agenda.tipoevento %></p>
                          <p class="event-preview-timestamp"><span class="bold"><%=th.strftime('%H:%M')%></span></p>
                          <% if @evento.descricaocurta.present?%>
                          <p class="event-preview-text"><%= @evento.descricaocurta.slice! 0, 195 %></p>
                          <%end%>
                          <p class="event-preview-text"><%= @evento.linkevento %></p>
                          <p class="event-preview-timestamp"><span class="bold"><%="duração: "+@evento.duration+" minutos"%></span></p>
                          <%if @evento.enviarparaparticipante%>
                           <p class="event-preview-timestamp"><span class="bold"><%="Enviar para participante? Sim"%></span></p>
                          <%elsif !@evento.enviarparaparticipante%>
                           <p class="event-preview-timestamp"><span class="bold"><%="Enviar para participante? Não"%></span></p>                         
                         <%end%>                           
                         <div class="event-preview-info-bottom">
                            <p class="button white white-tertiary"><%= link_to "Editar Esse Evento", edit_agenda_path(@agenda) %> </p>             
                            <p class="button white white-tertiary"><%= link_to "Destroy this agenda", @agenda, method: :delete %> </p>                        
                         </div>
                        </div>
                    </div>
                </div>
                <!-- /EVENT PREVIEW -->

            </div>
 </div>
<%= render "shared/footer-new"%>
