<p style="color: green"><%= notice %></p>
</br>
<div class="grid grid-3-3-3-3 centered">
                <!-- EVENT PREVIEW -->
                <div class="event-preview">
                    <% evento=Evento.where(tipoobjeto:"Agenda").where(idobjeto:@agenda.id)%>
                    <% @evento=Evento.find(evento[0].id)%>
                    <div class="event-preview-info">
                        <div class="event-preview-info-top">
                            <div class="date-sticker">
                            <%td = @evento.datainicio %>
                            <p class="date-sticker-day"><%=td.strftime('%d')%></p>
                            <p class="date-sticker-month"><%=td.strftime('%m')%></p>
                            </div>
                          <%thi = @evento.horainicio %>
                          <p class="event-preview-title popup-event-information-trigger"><%= @evento.name %></p>
                          <p class="event-preview-timestamp"><span class="bold"><%="início:  "+thi.strftime('%H:%M')%></span></p>
                          <%thf = @evento.horafim %>
                          <p class="event-preview-timestamp"><span class="bold"><%="fim:     "+thf.strftime('%H:%M')%></span></p>
                          <p class="event-preview-timestamp"><span class="bold"><%="duração: "+@evento.duration+" minutos"%></span></p>
                          <%if @evento.enviarparaparticipante%>
                          <p class="event-preview-timestamp"><span class="bold"><%="Enviar para participante? Sim"%></span></p>
                          <%elsif !@evento.enviarparaparticipante%>
                          <p class="event-preview-timestamp"><span class="bold"><%="Enviar para participante? Não"%></span></p>                         
                          <%end%> 
                          <p class="event-preview-text"><%= @evento.descricao.slice! 0, 195 %></p>
                          <p class="event-preview-text"><%= @agenda.status %></p>                         
                          <p class="event-preview-text"><%= @agenda.tipoevento %></p>  
                        </div>
                        <div class="event-preview-info-bottom">
                            <!-- /DECORATED TEXT -->

                            <!-- META LINE -->

                            <p class="button white white-tertiary"><%= link_to "Editar Esse Evento", edit_agenda_path(@agenda) %> </p>
                        </div>
                    </div>
                </div>
                <!-- /EVENT PREVIEW -->

            </div>

<div>
  <%= link_to "Home", "/homea/index" %>|
  <%= link_to "Back to agendas", agendas_path %>

  <%= button_to "Destroy this agenda", @agenda, method: :delete %>
</div>
