<div class="d-flex justify-content-between align-items-center">
  <h4>Programas Setoriais</h4>
</div>

<div id="programasetorials">
  <table class="table">
    <thead class="table-light">
      <tr>
        <th scope="col">Ano</th>
        <th scope="col">Nome</th>
        <th scope="col">Status</th>
        <th scope="col">Empresas</th>
        <th scope="col">Engajamento</th>
        <th scope="col">Inscrições</th>
        <th scope="col">Show</th>
      </tr>
    <tbody>
      <% @programasetorials.each do |programasetorial| %>
      <tr>   
       <td><%= programasetorial.ano %></td>
       <td><%= programasetorial.name %></td>
       <td><%=programasetorial.status%></td>
       <td><%= programasetorial.quantempresas %></td>
       <td><%= programasetorial.quantengajamento %></td>
       <td><%=programasetorial.quantinscricoes%></td>
       <td><%=link_to "Show", programasetorial %></td>
  </tr>
  <% end %>
    </tbody>
  </table>
</div>
<%= link_to "Novo Programa Setorial", "/programasetorials/new" %></br>
<%= link_to "Home", "/homea/index" %>
 <style>
   body { margin: 2%; }
</style>