<%= render "shared/aheader-new"%>

<!-- CONTENT GRID -->
<div class="content-grid">
    <!-- SECTION BANNER -->
    <div class="section-banner">
        <%= image_tag("#{Rails.application.credentials.dig(:var, :var_url_remoto)}/img/banner/overview-icon.png", alt: "overview-icon",class:"section-banner-icon") %>

        <!-- SECTION BANNER TITLE -->
        <p class="section-banner-title">Programa Setorial</p>
        <!-- /SECTION BANNER TITLE -->
    </div>
    <!-- /SECTION BANNER -->

            <div class="section-header">
                <!-- SECTION HEADER INFO -->
                <div class="section-header-info">
                    <!-- SECTION PRETITLE -->
                    <p class="section-pretitle"><%= link_to "Home", "/homea/index" %> </p>
                    <p class="section-pretitle"><%= link_to "Programas Setoriais", "/programasetorials"%> </p>
                    <!-- /SECTION PRETITLE -->
                    
                </div>
                <!-- /SECTION HEADER INFO -->
                 
            </div>

<p style="color: green"><%= notice %></p>
</br>
<div class="grid grid-3-3-3-3 centered">
                <!-- EVENT PREVIEW -->
                <div class="event-preview">
                    <figure class="event-preview-cover liquid">
                        <%= image_tag(@programasetorial.main_imagepg, alt: "cover-40") %>
                    </figure>
                    <div class="event-preview-info">
                        <div class="event-preview-info-top">
                          <p class="event-preview-text"><span class="bold"><%="Ano: "+@programasetorial.ano%></span></p>                          
                          <p class="event-preview-text"><span class="bold"><%="Nome: "+@programasetorial.name%></span></p>  
                          <p class="event-preview-text"><span class="bold"><%="Status: "+@programasetorial.status%></span></p>  
                          <p class="event-preview-text"><span class="bold"><%="Quant Empresas  : #{@programasetorial.quantempresas}"%></span></p>
                          <p class="event-preview-text"><span class="bold"><%="Engajamento     : #{@programasetorial.quantengajamento}"%></span></p>
                          <p class="event-preview-text"><span class="bold"><%="Quant Inscriçoes: #{@programasetorial.quantinscricoes}"%></span></p>
                          <p class="event-preview-text"><span class="bold"><%="Empresas: #{@programasetorial.empresa}"%></span></p>
                          <p class="event-preview-text"><span class="bold"><%="Parceiros: #{@programasetorial.parceiro}"%></span></p>
                          <div class="chat-widget-speaker right">
                           <!-- CHAT WIDGET SPEAKER MESSAGE -->
                           <% if @programasetorial.descricaocurta.present?%>
                           <p class="chat-widget-speaker-message"><%="Descrição: #{@programasetorial.descricaocurta.slice! 0, 80}"  %></p>
                           <% end %>
                           <!-- /CHAT WIDGET SPEAKER MESSAGE -->
                          </div>

                        </div>
                        <div class="event-preview-info-bottom">


                            <p class="button white white-tertiary"><%= link_to "Editar o Programa", edit_programasetorial_path(@programasetorial) %> </p>
                            <p class="button white white-tertiary"><%= link_to "Adicionar Eventos", "/homea/adicionareventops?idpg=#{@programasetorial.id}"%></p>
                            <p class="button white white-tertiary"><%= link_to "Adicionar Arquivos", "/homea/adicionararquivops?idpg=#{@programasetorial.id}"%></p>
                                                                                                                             
                            

                            
                        </div>
                    </div>
                </div>
                <!-- /EVENT PREVIEW -->

            </div>
<%=@eventos.count%>
<%@eventos=Evento.where(tipoobjeto:"Programa Setorial",idobjeto:@programasetorial.id)%>
<%ideventos=@eventos.select(:id)%>
<%@timelines=Timeline.where(tipoobjeto:"Eventos PG").where("idobjeto IN (?)",ideventos)%>
<%=@eventos.count%>



              <% @eventos.each do |evento| %>
               <%@timeline=Timeline.where(tipoobjeto:"Eventos PG").where(idobjeto: evento.id)%>
        
                
                        <%= "Evento: #{evento.idobjeto}"   %></p>
                        <%= "Evento: " + evento.tipoobjeto %></p>
                        <%= "Data início: " + evento.datainicio.strftime("%d/%m/%Y") %></p>
                        <%= "Duração: " + evento.duration %></p>
                        <%= "Timeline: #{@timeline[0].idobjeto}"  %></p>
                        <%= "Timeline: " + @timeline[0].tipoobjeto %></p>
                        <%= "Timeline: " + @timeline[0].datahora.strftime("%H:%M %d/%m/%Y") %></p>
                        <%="Status: " + evento.status%></p>
                        <%= link_to "Editar este Evento", edit_evento_path(evento) %></p>  


                <% end %>
         

        
 </div>
<%= render "shared/footer-new"%>