<%= render "shared/aheader-new"%>

<!-- CONTENT GRID -->
<div class="content-grid">
    <!-- SECTION BANNER -->
    <div class="section-banner">
        <%= image_tag("#{Rails.application.credentials.dig(:var, :var_url_remoto)}/img/banner/overview-icon.png", alt: "overview-icon",class:"section-banner-icon") %>

        <!-- SECTION BANNER TITLE -->
        <p class="section-banner-title">Programa Setorial</p>
        <!-- /SECTION BANNER TITLE -->
    </div>
    <!-- /SECTION BANNER -->

            <div class="section-header">
                <!-- SECTION HEADER INFO -->
                <div class="section-header-info">
                    <!-- SECTION PRETITLE -->
                    <p class="section-pretitle"><%= link_to "Home", "/homea/index" %> </p>
                    <p class="section-pretitle"><%= link_to "Programas Setoriais", "/programasetorials"%> </p>
                    <!-- /SECTION PRETITLE -->
                    
                </div>
                <!-- /SECTION HEADER INFO -->
                 
            </div>

<p style="color: green"><%= notice %></p>
</br>
<div class="grid grid-3-3-3-3 centered">
                <!-- EVENT PREVIEW -->
                <div class="event-preview">
                    <figure class="event-preview-cover liquid">
                        <%if @programasetorial.main_imagepg.present?%>
                        <%= image_tag(@programasetorial.main_imagepg, alt: "cover-40") %>
                        <%end%>
                    </figure>
                    <div class="event-preview-info">
                        <div class="event-preview-info-top">
                          <p class="event-preview-text"><span class="bold"><%="Ano: "+@programasetorial.ano%></span></p>                          
                          <p class="event-preview-text"><span class="bold"><%="Nome: "+@programasetorial.name%></span></p>  
                          <p class="event-preview-text"><span class="bold"><%="Status: "+@programasetorial.status%></span></p>  
                          <p class="event-preview-text"><span class="bold"><%="Quant Empresas  : #{@programasetorial.quantempresas}"%></span></p>
                          <p class="event-preview-text"><span class="bold"><%="Engajamento     : #{@programasetorial.quantengajamento}"%></span></p>
                          <p class="event-preview-text"><span class="bold"><%="Quant Inscriçoes: #{@programasetorial.quantinscricoes}"%></span></p>
                          <p class="event-preview-text"><span class="bold"><%="Empresas: #{@programasetorial.empresa}"%></span></p>
                          <p class="event-preview-text"><span class="bold"><%="Parceiros: #{@programasetorial.parceiro}"%></span></p>
                          <div class="chat-widget-speaker right">
                           <!-- CHAT WIDGET SPEAKER MESSAGE -->
                           <% if @programasetorial.descricaocurta.present?%>
                           <p class="chat-widget-speaker-message"><%="Descrição: #{@programasetorial.descricaocurta.slice! 0, 80}"  %></p>
                           <% end %>
                           <!-- /CHAT WIDGET SPEAKER MESSAGE -->
                          </div>

                        </div>
                        <div class="event-preview-info-bottom">


                            <p class="button white white-tertiary"><%= link_to "Editar o Programa", edit_programasetorial_path(@programasetorial) %> </p>
                            <p class="button white white-tertiary"><%= link_to "Adicionar Eventos", "/homea/adicionareventops?idpg=#{@programasetorial.id}"%></p>
                            <p class="button white white-tertiary"><%= link_to "Adicionar Textos", "/textos/new?idpg=#{@programasetorial.id}"%></p>
                            <p class="button white white-tertiary"><%= link_to "Adicionar Arquivos2", "/arquivos/new?idpg=#{@programasetorial.id}"%></p>                                                                                                 
                            

                            
                        </div>
                    </div>
                </div>
                <!-- /EVENT PREVIEW -->

            </div>
<%@eventos=Evento.where(tipoobjeto:"Programa Setorial",idobjeto:@programasetorial.id)%>
<%ideventos=@eventos.select(:id)%>
<%@timelines=Timeline.where(tipoobjeto:"Programa Setorial").where("idobjeto IN (?)",ideventos)%>
</br> </br> </br> </br> </br> </br> </br> </br> </br> </br> </br> </br> </br> 
<h5>Eventos</h5>
  <table class="table">
    <thead class="table-light">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Tipo</th>
        <th scope="col">DataInicio</th>
        <th scope="col">Duração</th>
        <th scope="col">Status</th>
        <th scope="col">Show</th>
        <th scope="col">Editar</th>
      </tr>
    <tbody>
      <% @eventos.each do |evento| %>
      <%@timeline=Timeline.where(tipoobjeto:"Programa Setorial").where(idobjeto: evento.id)%>
      <tr>
       <td><%= evento.id %></td>    
       <td><%= evento.tipoobjeto %></td>
       <td><%= evento.datainicio.strftime("%d/%m/%Y") %></td>
       <td><%= evento.duration %></td>
       <td><%= evento.status%></td>
       <td><%=link_to "Show ", "/eventos/showp/?idobjeto=#{evento.idobjeto}" %></td>
       <td><%=link_to "Editar", edit_evento_path(evento) %></td>
  </tr>
  <% end %>
    </tbody>
  </table>



<%@timelines=Timeline.where(tipoobjeto:"Programa Setorial").where("idobjeto IN (?)",@programasetorial.id)%>
<%@arquivos=Arquivo.where(tipoobjeto:"Programa Setorial",idobjeto:@programasetorial.id).order(:indicetm)%>
<%@arquivos=@arquivos.select(:id,:indicetm,:datahoraindice,:status,:idobjeto)%>
<%@eventos=Evento.where(tipoobjeto:"Programa Setorial",idobjeto:@programasetorial.id).order(:indicetm)%>
<%@eventos=@eventos.select(:id,:indicetm,:datahoraindice,:status,:idobjeto)%>
<%@textos=Texto.where(tipoobjeto:"Programa Setorial",idobjeto:@programasetorial.id).order(:indicetm)%>
<%@textos=@textos.select(:id,:indicetm,:datahoraindice,:status,:idobjeto)%>
<%json = { "timelines2" => []}%>
<% @arquivos.each do |arquivo| %>
  <%json["timelines2"].push({"tipoobjeto" => "Arquivo", "id" => arquivo.id, 
     "datahoraindice" => arquivo.datahoraindice,"indicetm" => arquivo.indicetm,
     "status" => arquivo.status})%>
<%end%>  
<% @eventos.each do |evento| %>
  <%json["timelines2"].push({"tipoobjeto" => "Evento", "id" => evento.id, 
  "datahoraindice" => evento.datahoraindice,"indicetm" => evento.indicetm,
  "status" => evento.status})%>
<%end%>  
<% @textos.each do |texto| %>
  <%json["timelines2"].push({"tipoobjeto" => "Texto", "id" => texto.id, 
  "datahoraindice" => texto.datahoraindice,"indicetm" => texto.indicetm,
  "status" => texto.status})%>
<%end%> 

<%testeorder=json["timelines2"].sort_by { |hash| hash['indicetm'].to_i }%>
  

</br> </br> </br> </br> </br> </br> </br> </br> </br> </br> </br> </br> </br> 
<h5>Timeline</h5>



  <table class="table">
    <thead class="table-light">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">tipoobjeto</th>
        <th scope="col">datahoraindice</th>
        <th scope="col">indicetm</th>
        <th scope="col">status</th>
      </tr>
    <tbody>
      <% testeorder.each do |teste| %>
      <tr>
       <td><%= teste["id"] %></td>    
       <td><%= teste["tipoobjeto"] %></td> 
       <td><%= teste["datahoraindice"] %></td> 
       <td><%= teste["indicetm"] %></td> 
       <td><%= teste["status"]%>
  </tr>
  <% end %>
    </tbody>
  </table>


     
 </div>
<%= render "shared/footer-new"%>