<div id="<%= dom_id empresa %>">
  <p>
    <strong>razaosocial:</strong>
    <%= empresa.razaosocial %>
  </p>

  <p>
    <strong>nomefantasia:</strong>
    <%= empresa.nomefantasia %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= empresa.status %>
  </p>

  <p>
    <strong>Plano:</strong>
    <%= empresa.plano.name %>
  </p>  

</div>
