<div class="form-box login-register-form-element">
        <!-- FORM BOX DECORATION -->
        <%= image_tag('https://hub.energyfuture.com.br/img/landing/rocket.png', alt: "rocket", class:"form-box-decoration") %>
        <!-- /FORM BOX DECORATION -->

        <!-- FORM BOX TITLE -->
        <h2 class="form-box-title">Criar minha conta</h2>
        <!-- /FORM BOX TITLE -->
    
        <!-- FORM -->
        <%= form_for(:user, :url => registration_path(:user), html: { data: { controller: "masks" } }) do |f| %>
         <div class="form-row">
            <!-- FORM ITEM -->
            <div class="form-item">
              <!-- FORM INPUT -->
              <div class="form-input">
                <label for="register-username">Seu e-mail</label>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control",id:"register-username"  %>
              </div>
              <!-- /FORM INPUT -->
            </div>
            <!-- /FORM ITEM -->
          </div>
          <!-- /FORM ROW -->


          <!-- FORM ROW -->
          <div class="form-row">
            <!-- FORM ITEM -->
            <div class="form-item">
              <!-- FORM INPUT -->
              <div class="form-input">
                <label for="register-name">Nome completo</label>
                <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"form-control",id:"register-name"   %>
              </div>
              <!-- /FORM INPUT -->
            </div>
            <!-- /FORM ITEM -->
          </div>
          <!-- /FORM ROW -->

          <!-- FORM ROW -->
          <div class="form-row">
            <!-- FORM ITEM -->
            <div class="form-item">
              <!-- FORM INPUT -->
              <div class="form-input">
                <label for="register-phone">Telefone</label>
                <%= f.text_field :'phone', class: "form-control", data: { masks_target: 'phone' }, id: 'register-phone' %>
              </div>
              <!-- /FORM INPUT -->
            </div>
            <!-- /FORM ITEM -->
          </div>
          <!-- /FORM ROW -->          
    
          <!-- FORM ROW -->
          <div class="form-row">
            <!-- FORM ITEM -->
            <div class="form-item">
              <!-- FORM INPUT -->
              <div class="form-input">
                <label for="register-password">Senha</label>
                <%= f.password_field :password, autocomplete: "register-password", class:"form-control" ,id:"register-password"%>
              </div>
              <!-- /FORM INPUT -->
            </div>
            <!-- /FORM ITEM -->
          </div>
          <!-- /FORM ROW -->


          <!-- FORM ROW -->
          <div class="form-row">
            <!-- FORM ITEM -->
            <div class="form-item">
              <!-- FORM INPUT -->
              <div class="form-input">
                <label for="register-passwordc">Senha</label>
                <%= f.password_field :password, autocomplete: "register-passwordc", class:"form-control" ,id:"register-passwordc"%>
              </div>
              <!-- /FORM INPUT -->
            </div>
            <!-- /FORM ITEM -->
          </div>
          <!-- /FORM ROW -->          
    
         <!-- /FORM ROW -->

          <div class="form-row">
            <!-- FORM ITEM -->
            <div class="form-item">
                <!-- CHECKBOX BOX -->
                <%= f.check_box "newsletter",{checked: true}%> 
                <!-- /CHECKBOX BOX -->
                <label for="newsletter">Concordo com os termos de uso e política de privacidade.</label>
            </div>
            <!-- /FORM ITEM -->
          </div>
          <!-- /FORM ROW -->
            
            <div class="form-row">
            <!-- FORM ITEM -->
            <div class="form-item">
              <!-- FORM INPUT -->
              <div class="form-input">
                <label for="icp_id">Perfil</label>
                 <%= select("user", "icp_id", Icp.all.collect {|p| [ p.name, p.id ] }, { include_blank: true }, class:"form-control")%>
              </div>
              <!-- /FORM INPUT -->
            </div>
            <!-- /FORM ITEM -->
          </div>
          <!-- /FORM ROW -->          
    
          <!-- FORM ROW -->
          <div class="form-row">
            <!-- FORM ITEM -->
            <div class="form-item">
              <!-- BUTTON -->
              <%= f.submit 'Cadastrar!', name:"register",class:"btn bg-primary btn-lg btn-block text-white"%>
              <!-- /BUTTON -->
            </div>
            <!-- /FORM ITEM -->
          </div>
          <!-- /FORM ROW -->
        <%end%>
        <!-- /FORM -->
    
        <!-- FORM TEXT -->
        <p class="form-text">Você receberá um e-mail para confirmar o seu cadastro e
         ativar sua conta. Caso tenha problemas, entre em <a href="/contato">contato conosco</a>! </p>
        <!-- /FORM TEXT -->
</div>
      <!-- /FORM BOX -->